### time debug

In [1]:
from pyhive import presto
from requests.auth import HTTPBasicAuth
import numpy as np
import pandas as pd
#import seaborn as sns
import matplotlib.pyplot as plt
from datetime import datetime as dt
import datetime
from datetime import date
import teradata
import time
import calendar
from mlutils import dataset
from mlutils import connector

In [2]:
from datetime import datetime
#today = datetime.today()
today = datetime(2024,3,31)
datem = datetime(today.year, today.month, 1)
monthDict={1:'Jan', 2:'Feb', 3:'Mar', 4:'Apr', 5:'May', 6:'Jun', 7:'Jul', 8:'Aug', 9:'Sept', 10:'Oct', 11:'Nov', 12:'Dec'}
monthlongDict={1:'January', 2:'February', 3:'March', 4:'April', 5:'May', 6:'June', \
               7:'July', 8:'August', 9:'September', 10:'October', 11:'November', 12:'December'}


#Current_Walmart_month_end = str(today.year)+'-'+str(today.month) + '-25'

Current_Walmart_month_end = '2024-03-01'
Current_Walmart_month_start = '2024-03-31'
from datetime import date
from dateutil.relativedelta import relativedelta

monthend = datetime.strptime(Current_Walmart_month_end, '%Y-%m-%d')
d30_ago = str(monthend - relativedelta(days=+30))[:10]
d90_ago = str(monthend - relativedelta(days=+90))[:10]
six_months_ago = str(monthend - relativedelta(months=+6))[:10]
twelve_months_ago = str(monthend - relativedelta(months=+12))[:10]
monthend = str(monthend)[:10]

print(monthend)
print(d30_ago)
print(d90_ago)
print(six_months_ago)

2024-03-01
2024-01-31
2023-12-02
2023-09-01

In [3]:
Received_file=pd.read_excel('MARSP.xlsx')
Received_file['Month']=3
Received_file[Received_file['Action'] == 'Block'].groupby(['Month','Actual Claim Type'])['Item ID'].nunique()

Month  Actual Claim Type
3      Confirmed Counterfeit     33
       Counterfeit              162
Name: Item ID, dtype: int64

In [4]:
print(today, monthend, d30_ago, d90_ago, six_months_ago, twelve_months_ago)

2024-03-31 00:00:00 2024-03-01 2024-01-31 2023-12-02 2023-09-01 2023-03-01

In [5]:
#conn = hive.Connection(host="cdc-main-hiveserver00.bfd.walmart.com", port=10000,username='gec_gis_tableau',database="default")

### debug

### REMEMBER DUPLICATE MONTH

In [6]:
Received_file=pd.read_excel('MARSP.xlsx')
Received_file['Month']=3
Received_file[(Received_file['Action'] =='Block') & (Received_file['Claim State'] =='Closed')].groupby(['Month','Actual Claim Type'])['Item ID'].nunique()

Month  Actual Claim Type
3      Confirmed Counterfeit    33
       Counterfeit              29
Name: Item ID, dtype: int64

In [7]:
Received_file[(Received_file['Action'] =='Block') & (Received_file['Claim State'] =='Closed') & (Received_file['IP Company Name'].str.contains('CUSTOMER REPORT'))].groupby(['Month','Actual Claim Type'])['Item ID'].nunique()

Month  Actual Claim Type
3      Counterfeit          5
Name: Item ID, dtype: int64

In [8]:
Received_file[(Received_file['Claim State'] =='Closed')].groupby('Action')['Item ID'].nunique()

Action
Allow     135
Block      62
Review      4
Name: Item ID, dtype: int64

In [9]:
Received_file[(Received_file['Claim State'] =='Closed')].groupby(['Action','Actual Claim Type'])['Item ID'].nunique()

Action  Actual Claim Type
Allow   Confirmed Counterfeit    41
        Counterfeit              95
Block   Confirmed Counterfeit    33
        Counterfeit              29
Review  Counterfeit               4
Name: Item ID, dtype: int64

In [10]:
Received_file[(Received_file['Claim State'] =='Closed')].groupby(['Action','Actual Claim Type'])['ID'].nunique()

Action  Actual Claim Type
Allow   Confirmed Counterfeit    233
        Counterfeit              596
Block   Confirmed Counterfeit     36
        Counterfeit               22
Review  Counterfeit                8
Name: ID, dtype: int64

In [11]:
Received_file[(Received_file['Claim State'] =='Closed')]['Item ID'].nunique()

152

In [12]:
Received_file[(Received_file['Claim State'] =='Closed')]['ID'].nunique()

886

In [13]:
Received_file[(Received_file['Claim State'] =='Closed')].groupby('Action')['ID'].nunique()

Action
Allow     822
Block      58
Review      8
Name: ID, dtype: int64

In [14]:
Received_file['Reported Details'].fillna("", inplace = True)
Received_file['IP Company Name'].fillna("", inplace = True)
set1 = set(Received_file[Received_file['IP Company Name'].str.contains('CUSTOMER REPORT')]['Claim ID'].unique())

In [15]:
set1

{'IPRR0247745',
 'IPRR0247746',
 'IPRR0248135',
 'IPRR0248136',
 'IPRR0248139',
 'IPRR0248329',
 'IPRR0248894',
 'IPRR0248895',
 'IPRR0249027',
 'IPRR0249427',
 'IPRR0249429',
 'IPRR0250719',
 'IPRR0250723',
 'IPRR0250727',
 'IPRR0251129',
 'IPRR0251132',
 'IPRR0251138',
 'IPRR0251140',
 'IPRR0251143',
 'IPRR0251145',
 'IPRR0251146',
 'IPRR0251206',
 'IPRR0252477',
 'IPRR0252822',
 'IPRR0252824',
 'IPRR0252826',
 'IPRR0252830',
 'IPRR0252831',
 'IPRR0252832',
 'IPRR0252834',
 'IPRR0253324',
 'IPRR0253330',
 'IPRR0253940',
 'IPRR0253941',
 'IPRR0253942',
 'IPRR0253943',
 'IPRR0253944',
 'IPRR0253945'}

In [16]:
Received_file['Reported Details'].str.contains('CUSTOMER REPORT').nunique()

1

In [17]:
#set3 = set1 | set2

In [18]:
#set1

In [19]:
Received_file['Claim ID'].nunique()

184

In [20]:
#set3

In [21]:
Received_file['IP Company Name'].value_counts()

CUSTOMER REPORT – BAZAARVOICE                  678
                                               402
CUSTOMER REPORT - BVR                          173
CUSTOMER REPORT - BAZAARVOICE                  172
CUSTOMER REPORT – VOC                          108
Adams and Reese LLP                             82
CeraVe                                          77
Pant Saggin LLC dba PSD Underwear               76
Cerave                                          66
Wolters Kluwer Health                           44
Nintendo                                        35
Pacific Market International LLC                31
Sol De Janeiro                                  30
Advanced Bio-Technologies, Inc                  28
Westmore Beauty                                 26
Celestial Seasonings                            24
Hugo Boss                                       20
Nintendo of America Inc.                        18
Corsearch                                       15
Lume                                            13
Internal escalation                             13
Puritan's Pride                                 10
Sullivan Entertianment                           8
Vaudra International                             8
Shure Incorporated                               8
NOVA Medical Products                            7
La Roche-Posay                                   7
Prostagenix                                      7
guang zhou tian tuo ke ji you xian gong si       7
Express Source                                   5
Philips Sonicare                                 5
Thermacell Repellents, Inc.                      5
dongguanshidaguanghangshangmaoyouxiangongsi      4
INTERNAL ESCALATION                              3
Westmore                                         3
USPS                                             2
Supreme Sunrise Inc                              2
Jazwares LLC                                     2
Disney                                           2
Snoop on the Stoop                               1
WILSON ENTERPRISES, INC.                         1
FILA Luxembourg SARL                             1
Jazwares Inc                                     1
Skylinwears LLC                                  1
Name: IP Company Name, dtype: int64

In [22]:
#Received_file=pd.read_excel('/Users/vn0inhx/Downloads/'+Monthly_file)
Received_file= Received_file[(Received_file['Action'] == 'Block' )&(Received_file['Claim State'] == 'Closed')]


cf_T=Received_file
#cf_T=pd.read_excel('/Users/vn0inhx/Downloads/February_Monthly_CF_SP.xlsx')

#cf_T.groupby('Item Decision')['Item ID'].nunique()
cf_T.groupby('Action')['Item ID'].nunique()

Conf_vs_Sus=cf_T.groupby('Actual Claim Type')['Item ID'].nunique()

def changedecision(x):
    x.loc[x.str.contains('block',na=False,case=False)]='Block'

changedecision(cf_T['Action'])          
          
#cf=cf_T[cf_T['Item Decision']=='Block']
cf=cf_T[cf_T['Action']=='Block']

cf['Month']=today.month
cf.groupby(['Month','Actual Claim Type'])['Item ID'].nunique()
print(cf)

         Claim ID Reported Claim Type      Actual Claim Type            Brand  \
1     IPRR0247056         Counterfeit  Confirmed Counterfeit              NaN
2     IPRR0247082         Counterfeit  Confirmed Counterfeit          KALMORE
14    IPRR0247428         Counterfeit  Confirmed Counterfeit              NaN
21    IPRR0247576         Counterfeit            Counterfeit  Pure Daily Care
42    IPRR0247745         Counterfeit            Counterfeit           Gerber
...           ...                 ...                    ...              ...
1901  IPRR0253260         Counterfeit  Confirmed Counterfeit              NaN
1992  IPRR0253386         Counterfeit  Confirmed Counterfeit              NaN
1993  IPRR0253389         Counterfeit  Confirmed Counterfeit              NaN
1999  IPRR0253475         Counterfeit  Confirmed Counterfeit        Kelo-Cote
2219  IPRR0254079         Counterfeit  Confirmed Counterfeit              NaN

                     IP Company Name                    Email Address  \
1                                                peizewalmart@163.com
2                Supreme Sunrise Inc                  sslausa@163.com
14                                      bryan.wall@kingtechnology.com
21                    Express Source  maicol.santana_sosa@walmart.com
42     CUSTOMER REPORT – BAZAARVOICE        sharon.baxter@walmart.com
...                              ...                              ...
1901                                    brandprotection@whirlpool.com
1992                                               jbrashen@gmail.com
1993                                                1315442542@qq.com
1999  Advanced Bio-Technologies, Inc           alliancepharma@sipi.sg
2219                                     nphelps@nataliamarketing.com

     All Reported Sellers     Item ID Claim State Action  ...  \
1      Joybuy Marketplace   618918023      Closed  Block  ...
2              A&S League  5111332918      Closed  Block  ...
14            Shen BaoZhu  5024151525      Closed  Block  ...
21        Crofton Traders   426207121      Closed  Block  ...
42    Vincero Trading LLC  5278058983      Closed  Block  ...
...                   ...         ...         ...    ...  ...
1901         prime bazaar   177681231      Closed  Block  ...
1992                weixi   832181652      Closed  Block  ...
1993      Gomind Co., Ltd  1553726877      Closed  Block  ...
1999   Kathryn's Emporium   505998966      Closed  Block  ...
2219  Avenue A Stores LLC   853899879      Closed  Block  ...

     Legacy Seller ID                                   URL Exception Status  \
1             18988.0   http://www.walmart.com/ip/618918023              NaN
2         101200668.0  http://www.walmart.com/ip/5111332918              NaN
14        101578042.0  http://www.walmart.com/ip/5024151525              NaN
21        101581578.0   http://www.walmart.com/ip/426207121              NaN
42        101465859.0  http://www.walmart.com/ip/5278058983              NaN
...               ...                                   ...              ...
1901      101217155.0   http://www.walmart.com/ip/177681231              NaN
1992      101613747.0   http://www.walmart.com/ip/832181652              NaN
1993      101502050.0  http://www.walmart.com/ip/1553726877              NaN
1999      101569811.0   http://www.walmart.com/ip/505998966              NaN
2219      101003242.0   http://www.walmart.com/ip/853899879              NaN

                       Reason Code                           Category  \
1     IP-Counterfeit High-Severity  Clothing, Shoes &amp; Accessories
2     IP-Counterfeit High-Severity                        Electronics
14    IP-Counterfeit High-Severity                  Home &amp; Garden
21     IP-Counterfeit Low-Severity                Health &amp; Beauty
42     IP-Counterfeit Low-Severity              Sports &amp; Outdoors
...                            ...                                ...
1901  IP-Counterfeit High-Severity                  Home &amp; Garden
1992  IP-Counterfeit High-Severity                        Electronics
1993  IP-Counterfeit High-Severity                Health &amp; Beauty
1999  IP-Counterfeit High-Severity                Health &amp; Beauty
2219  IP-Counterfeit High-Severity        Jewelry, Gems &amp; Watches

     Offer Publish Status                                              Title  \
1               Published  TRGPSG Men's Cotton Casual Cargo Shorts with M...
2               Published  Designed for iPhone 15 Pro Max Case, Clear Rei...
14              Published  FROG @Ease Replacement SmartChlor Chlorine Car...
21              Published  Pure Daily Care LED Light Therapy Luma Mask Ad...
42              Published  STRONG ARM - COYOTE BROWN,PLAIN EDGE KNIFE Gerber
...                   ...                                                ...
1901            Published   In-Sink-Erator Replacement Filter Cartridge Plus
1992            Published  Replacement Earbud Tips Covers for Apple AirPo...
1993            Published  Ultrasonic Pest Repeller ,Electronic Pest Repe...
1999            Published               Sinclair Kelo-Cote Gel for Scars 15g
2219            Published  White Puka Shell Neckace - Hawaiian Style Clam...

      Decision Type                                ID  Month
1      Seller Level  D9A6FC36A47A45F798083D69386195D0      3
2      Seller Level  DC1AF2A38A513F669738FBC80708D956      3
14     Seller Level  9F065BD74FD03567ACE090AAD33D9ACC      3
21     Seller Level  A773A84F79863510A91E547F24768AE1      3
42     Seller Level  CA247B88CD1B37529A051825F7AC4542      3
...             ...                               ...    ...
1901   Seller Level  3F651DB3D28F3D48A085B5CDA84F7A36      3
1992   Seller Level  1F6ECC7559903FF4B91ECC980C501286      3
1993   Seller Level  30EC19E4720F3773BAA6BEB3265D308B      3
1999   Seller Level  8799ADD4F8F2304CB6810D9F1F4B71C7      3
2219   Seller Level  EFBF939604E23602AE0D5F54FE0A2033      3

[67 rows x 27 columns]

In [23]:
list(cf)

['Claim ID',
 'Reported Claim Type',
 'Actual Claim Type',
 'Brand',
 'IP Company Name',
 'Email Address',
 'All Reported Sellers',
 'Item ID',
 'Claim State',
 'Action',
 'Created',
 'Updated',
 'Reported Details',
 'Primary email',
 'Secondary email',
 'Seller Name',
 'Business name',
 'Legacy Seller ID',
 'URL',
 'Exception Status',
 'Reason Code',
 'Category',
 'Offer Publish Status',
 'Title',
 'Decision Type',
 'ID',
 'Month']

In [24]:

cf['Sourcing Channel'] = 'External Web Form'
cf=cf.rename(columns={'Sourcing Channel':'sourcing_channel',
                   'Counterfeit claim: Completed or Pending':'Counterfeit claim: Completed or Pending',
                   'Item ID':'item_id','Item Categories':'Category','Account Name':'Seller Name',
                   'Legacy Seller ID':'legacy_org_id','Brand':'Brand',
                   'Created':'blocked_date','Actual Claim Type':'Actual Claim Type'})


cf=cf[['sourcing_channel','item_id','legacy_org_id','blocked_date','Seller Name','Actual Claim Type']]
print(cf)
#cf = cf[cf['legacy_org_id'].str.isnumeric()== True]
#cf = cf[cf['item_id'].astype(str).str.isnumeric()== True]

#cf = cf[cf['item_id'].astype(str).str.isnumeric()]
#print(cf)

cf['blocked_date']=pd.to_datetime(cf['blocked_date'])
print(cf)
cf['blocked_date']=cf['blocked_date'].dt.date
#print(cf)
cf['Year']=pd.DatetimeIndex(cf['blocked_date']).year
#print(cf)
cf['Month']=today.month
#print(cf)
cf = cf[cf.item_id != '101001636?itemId=791339069&pageName=item']
CF=cf.copy()
print(CF)

#### Retriveing Walmart Week Year ######
print("Pulling Walmart Week Info.\n")

#os.chdir('/Users/vn06kga/Documents/GitHub/TnS_analytics')
#os.chdir('/Volumes/Trust & Safety/TnS Analytics/pythonCode')

       sourcing_channel     item_id  legacy_org_id        blocked_date  \
1     External Web Form   618918023        18988.0 2024-03-01 03:50:24
2     External Web Form  5111332918    101200668.0 2024-03-01 09:26:27
14    External Web Form  5024151525    101578042.0 2024-03-04 14:58:28
21    External Web Form   426207121    101581578.0 2024-03-04 22:22:01
42    External Web Form  5278058983    101465859.0 2024-03-05 16:29:24
...                 ...         ...            ...                 ...
1901  External Web Form   177681231    101217155.0 2024-03-27 16:23:59
1992  External Web Form   832181652    101613747.0 2024-03-28 02:13:57
1993  External Web Form  1553726877    101502050.0 2024-03-28 02:30:55
1999  External Web Form   505998966    101569811.0 2024-03-28 07:59:24
2219  External Web Form   853899879    101003242.0 2024-03-29 19:58:52

              Seller Name      Actual Claim Type
1      Joybuy Marketplace  Confirmed Counterfeit
2          A&amp;S League  Confirmed Counterfeit
14            Shen BaoZhu  Confirmed Counterfeit
21        Crofton Traders            Counterfeit
42    Vincero Trading LLC            Counterfeit
...                   ...                    ...
1901         prime bazaar  Confirmed Counterfeit
1992                weixi  Confirmed Counterfeit
1993      Gomind Co., Ltd  Confirmed Counterfeit
1999   Kathryn's Emporium  Confirmed Counterfeit
2219  Avenue A Stores LLC  Confirmed Counterfeit

[67 rows x 6 columns]
       sourcing_channel     item_id  legacy_org_id        blocked_date  \
1     External Web Form   618918023        18988.0 2024-03-01 03:50:24
2     External Web Form  5111332918    101200668.0 2024-03-01 09:26:27
14    External Web Form  5024151525    101578042.0 2024-03-04 14:58:28
21    External Web Form   426207121    101581578.0 2024-03-04 22:22:01
42    External Web Form  5278058983    101465859.0 2024-03-05 16:29:24
...                 ...         ...            ...                 ...
1901  External Web Form   177681231    101217155.0 2024-03-27 16:23:59
1992  External Web Form   832181652    101613747.0 2024-03-28 02:13:57
1993  External Web Form  1553726877    101502050.0 2024-03-28 02:30:55
1999  External Web Form   505998966    101569811.0 2024-03-28 07:59:24
2219  External Web Form   853899879    101003242.0 2024-03-29 19:58:52

              Seller Name      Actual Claim Type
1      Joybuy Marketplace  Confirmed Counterfeit
2          A&amp;S League  Confirmed Counterfeit
14            Shen BaoZhu  Confirmed Counterfeit
21        Crofton Traders            Counterfeit
42    Vincero Trading LLC            Counterfeit
...                   ...                    ...
1901         prime bazaar  Confirmed Counterfeit
1992                weixi  Confirmed Counterfeit
1993      Gomind Co., Ltd  Confirmed Counterfeit
1999   Kathryn's Emporium  Confirmed Counterfeit
2219  Avenue A Stores LLC  Confirmed Counterfeit

[67 rows x 6 columns]
       sourcing_channel     item_id  legacy_org_id blocked_date  \
1     External Web Form   618918023        18988.0   2024-03-01
2     External Web Form  5111332918    101200668.0   2024-03-01
14    External Web Form  5024151525    101578042.0   2024-03-04
21    External Web Form   426207121    101581578.0   2024-03-04
42    External Web Form  5278058983    101465859.0   2024-03-05
...                 ...         ...            ...          ...
1901  External Web Form   177681231    101217155.0   2024-03-27
1992  External Web Form   832181652    101613747.0   2024-03-28
1993  External Web Form  1553726877    101502050.0   2024-03-28
1999  External Web Form   505998966    101569811.0   2024-03-28
2219  External Web Form   853899879    101003242.0   2024-03-29

              Seller Name      Actual Claim Type  Year  Month
1      Joybuy Marketplace  Confirmed Counterfeit  2024      3
2          A&amp;S League  Confirmed Counterfeit  2024      3
14            Shen BaoZhu  Confirmed Counterfeit  2024      3
21        Crofton Traders            Counterfeit  2024      3
42    Vincero Trading LLC            Counterfeit  2024      3
...                   ...                    ...   ...    ...
1901         prime bazaar  Confirmed Counterfeit  2024      3
1992                weixi  Confirmed Counterfeit  2024      3
1993      Gomind Co., Ltd  Confirmed Counterfeit  2024      3
1999   Kathryn's Emporium  Confirmed Counterfeit  2024      3
2219  Avenue A Stores LLC  Confirmed Counterfeit  2024      3

[67 rows x 8 columns]
Pulling Walmart Week Info.

In [25]:
#query ="select CAL_DT,wk_nbr_of_yr_nbr,wm_wk_id,\
#    wm_yr_beg_dt from ww_core_dim_dl_tables.cal_dt dt where\
#    wm_wk_id<=(select distinct wm_wk_id from ww_core_dim_dl_tables.cal_dt\
#    where cal_dt=current_date)-1 and wm_wk_id>=(select distinct wm_wk_id from ww_core_dim_dl_tables.cal_dt\
#    where cal_dt=current_date)-30"

#tdDf_wk  = dataset.load(name="gcp_dd_connection", query = query)

#print(tdDf_wk.shape)

#cursor.close()       
#print(tdDf_wk.dtypes)

In [26]:
query ="select CAL_DT,wk_nbr_of_yr_nbr,wm_wk_id,\
    wm_yr_beg_dt from `wmt-edw-prod.WW_CORE_DIM_DL_VM.CAL_DT` dt where \
    wm_wk_id<=(select distinct wm_wk_id from `wmt-edw-prod.WW_CORE_DIM_DL_VM.CAL_DT`\
    where cal_dt=current_date)-1 and wm_wk_id>=(select distinct wm_wk_id from `wmt-edw-prod.WW_CORE_DIM_DL_VM.CAL_DT` \
    where cal_dt=current_date)-30"
#query = "select distinct wm_wk_id from `wmt-edw-prod.WW_CORE_DIM_DL_VM.CAL_DT` where cal_dt=current_date"
tdDf_wk  = dataset.load(name="bq_connection", query = query)
print(tdDf_wk)

         CAL_DT  wk_nbr_of_yr_nbr  wm_wk_id wm_yr_beg_dt
0    2023-09-06                36      1706   2023-01-28
1    2023-09-03                36      1706   2023-01-28
2    2023-09-08                36      1706   2023-01-28
3    2023-09-04                36      1706   2023-01-28
4    2023-09-02                35      1706   2023-01-28
..          ...               ...       ...          ...
205  2024-03-27                13      1735   2024-01-27
206  2024-03-25                13      1735   2024-01-27
207  2024-03-23                12      1735   2024-01-27
208  2024-03-28                13      1735   2024-01-27
209  2024-03-29                13      1735   2024-01-27

[210 rows x 4 columns]

In [27]:
tdDf_wk['CAL_DT']=pd.to_datetime(tdDf_wk['CAL_DT'])
tdDf_wk['wk_nbr_of_yr_nbr']=tdDf_wk['wk_nbr_of_yr_nbr'].fillna(-1).astype(int)
tdDf_wk['blocked_date']=pd.to_datetime(tdDf_wk['CAL_DT'])
tdDf_wk['blocked_date']=tdDf_wk['blocked_date'].dt.date
WM_Wk=tdDf_wk[['blocked_date','wk_nbr_of_yr_nbr']]

print('After changing Data types:\n'+ str(tdDf_wk.dtypes))

print('Completed pulling Walmarts Calender Week Info.\n')

After changing Data types:
CAL_DT              datetime64[ns]
wk_nbr_of_yr_nbr             int64
wm_wk_id                     int64
wm_yr_beg_dt                object
blocked_date                object
dtype: object
Completed pulling Walmarts Calender Week Info.

In [28]:
##### Merging Cfs with WM_Wk to get walmarts week number #######

CF=pd.merge(cf,WM_Wk,on='blocked_date',how='left')

print('Dataframe after Merging with CF file.\n'+ str(CF) )

CF['wk_nbr_of_yr_nbr']=CF['wk_nbr_of_yr_nbr'].fillna(-1).astype(int)

print('Data Types of CF\n' + str(CF.dtypes))

#### getting week year ######

CF['week_year']= 'Wk-'+CF["wk_nbr_of_yr_nbr"].map(str)+ '-'+ CF["Year"].map(str)
print('Week Year attribute creation.' + str(CF[['blocked_date','week_year']]))

#### filling empty legacy seller Ids #####

#Not_Found_legacyIds=CF[CF['legacy_org_id']=='Not found']
#
#Slr_Name_List=list(Not_Found_legacyIds['Seller Name'].unique())
#
#Slr_Name_list_td= ','.join("'%{0}%'".format(w) for w in Slr_Name_List)


CF['legacy_org_id']=(CF['legacy_org_id'].fillna(-1)).astype(int)

Dataframe after Merging with CF file.
     sourcing_channel     item_id  legacy_org_id blocked_date  \
0   External Web Form   618918023        18988.0   2024-03-01
1   External Web Form  5111332918    101200668.0   2024-03-01
2   External Web Form  5024151525    101578042.0   2024-03-04
3   External Web Form   426207121    101581578.0   2024-03-04
4   External Web Form  5278058983    101465859.0   2024-03-05
..                ...         ...            ...          ...
62  External Web Form   177681231    101217155.0   2024-03-27
63  External Web Form   832181652    101613747.0   2024-03-28
64  External Web Form  1553726877    101502050.0   2024-03-28
65  External Web Form   505998966    101569811.0   2024-03-28
66  External Web Form   853899879    101003242.0   2024-03-29

            Seller Name      Actual Claim Type  Year  Month  wk_nbr_of_yr_nbr
0    Joybuy Marketplace  Confirmed Counterfeit  2024      3                 9
1        A&amp;S League  Confirmed Counterfeit  2024      3                 9
2           Shen BaoZhu  Confirmed Counterfeit  2024      3                10
3       Crofton Traders            Counterfeit  2024      3                10
4   Vincero Trading LLC            Counterfeit  2024      3                10
..                  ...                    ...   ...    ...               ...
62         prime bazaar  Confirmed Counterfeit  2024      3                13
63                weixi  Confirmed Counterfeit  2024      3                13
64      Gomind Co., Ltd  Confirmed Counterfeit  2024      3                13
65   Kathryn's Emporium  Confirmed Counterfeit  2024      3                13
66  Avenue A Stores LLC  Confirmed Counterfeit  2024      3                13

[67 rows x 9 columns]
Data Types of CF
sourcing_channel      object
item_id                int64
legacy_org_id        float64
blocked_date          object
Seller Name           object
Actual Claim Type     object
Year                   int64
Month                  int64
wk_nbr_of_yr_nbr       int64
dtype: object
Week Year attribute creation.   blocked_date   week_year
0    2024-03-01   Wk-9-2024
1    2024-03-01   Wk-9-2024
2    2024-03-04  Wk-10-2024
3    2024-03-04  Wk-10-2024
4    2024-03-05  Wk-10-2024
..          ...         ...
62   2024-03-27  Wk-13-2024
63   2024-03-28  Wk-13-2024
64   2024-03-28  Wk-13-2024
65   2024-03-28  Wk-13-2024
66   2024-03-29  Wk-13-2024

[67 rows x 2 columns]

In [29]:
######## gettin seller details using legacy Ids #########

# Slr_Id_List=(CF['legacy_org_id'].unique())
# print(Slr_Id_List)

# Slr_list_td= ','.join("{0}".format(w) for w in Slr_Id_List)
# print(Slr_list_td)


                                     
# query ="select org_nm,org_disp_nm,org_cd,legacy_org_id\
#     from ww_core_dim_dl_tables.org_slr where legacy_org_id in ("+Slr_list_td+")"



# tdDf_slr_info  = dataset.load(name="bq_connection", query = query)

                                                                    
                                
# print(tdDf_slr_info)
# print('Completed pulling Seller Info\n')
# tdDf_slr_info=tdDf_slr_info.rename(columns={'LEGACY_ORG_ID':'legacy_org_id'})

# tdDf_slr_info['legacy_org_id'] = tdDf_slr_info['legacy_org_id'].astype(int)
# ### Merging with seller info ####

# CF_Slr=pd.merge(CF,tdDf_slr_info,on='legacy_org_id',how='left') 


# CF_Slr['item_id'] = CF_Slr['item_id'].astype(float)

# print('Dataframe after merging with seller info\n'+str(CF_Slr))

In [30]:

Slr_Id_List=list(CF['legacy_org_id'].unique())

Slr_list_td= ','.join("{0}".format(w) for w in Slr_Id_List)


query ="select org_nm,org_disp_nm,org_cd,legacy_org_id from wmt-edw-prod.WW_CORE_DIM_DL_VM.ORG_SLR where legacy_org_id in ("+Slr_list_td+")"

tdDf_slr_info  = dataset.load(name="bq_connection", query = query)

#print(tdDf_slr_info)
#print('Completed pulling Seller Info\n')

tdDf_slr_info=tdDf_slr_info.rename(columns={'LEGACY_ORG_ID':'legacy_org_id'})

tdDf_slr_info['legacy_org_id'] = tdDf_slr_info['legacy_org_id'].astype(int)
### Merging with seller info ####

CF_Slr=pd.merge(CF,tdDf_slr_info,on='legacy_org_id',how='left') 

print('Dataframe after merging with seller info\n'+str(CF_Slr))

#CF_Slr['item_id'] = CF_Slr['item_id'].replace('101001636?itemId=791339069&pageName=item','791339069')

#CF_Slr = CF_Slr[CF_Slr['item_id'].astype(str).str.isnumeric()== True]



CF_Slr['item_id'] = CF_Slr['item_id'].astype(float)

print('Dataframe after merging with seller info\n'+str(CF_Slr))

Dataframe after merging with seller info
     sourcing_channel     item_id  legacy_org_id blocked_date  \
0   External Web Form   618918023          18988   2024-03-01
1   External Web Form  5111332918      101200668   2024-03-01
2   External Web Form  5024151525      101578042   2024-03-04
3   External Web Form   426207121      101581578   2024-03-04
4   External Web Form  5278058983      101465859   2024-03-05
..                ...         ...            ...          ...
62  External Web Form   177681231      101217155   2024-03-27
63  External Web Form   832181652      101613747   2024-03-28
64  External Web Form  1553726877      101502050   2024-03-28
65  External Web Form   505998966      101569811   2024-03-28
66  External Web Form   853899879      101003242   2024-03-29

            Seller Name      Actual Claim Type  Year  Month  wk_nbr_of_yr_nbr  \
0    Joybuy Marketplace  Confirmed Counterfeit  2024      3                 9
1        A&amp;S League  Confirmed Counterfeit  2024      3                 9
2           Shen BaoZhu  Confirmed Counterfeit  2024      3                10
3       Crofton Traders            Counterfeit  2024      3                10
4   Vincero Trading LLC            Counterfeit  2024      3                10
..                  ...                    ...   ...    ...               ...
62         prime bazaar  Confirmed Counterfeit  2024      3                13
63                weixi  Confirmed Counterfeit  2024      3                13
64      Gomind Co., Ltd  Confirmed Counterfeit  2024      3                13
65   Kathryn's Emporium  Confirmed Counterfeit  2024      3                13
66  Avenue A Stores LLC  Confirmed Counterfeit  2024      3                13

     week_year                                             org_nm  \
0    Wk-9-2024  Jingdong E-Commerce (Trade) Hong Kong Corporat...
1    Wk-9-2024                                         A&S League
2   Wk-10-2024                guangzhoumichishangmaoyouxiangongsi
3   Wk-10-2024                                Crofton Traders LLC
4   Wk-10-2024                                Vincero Trading LLC
..         ...                                                ...
62  Wk-13-2024                                         pennsl llc
63  Wk-13-2024               shanghaiweixixinxijishuyouxiangongsi
64  Wk-13-2024      Shenzhenshi yiweihedianzishangwuyouxiangongsi
65  Wk-13-2024                            Collebra Essentials LLC
66  Wk-13-2024                                Avenue A Stores LLC

            org_disp_nm     org_cd
0    Joybuy Marketplace      18988
1            A&S League  101200668
2           Shen BaoZhu  101578042
3       Crofton Traders  101581578
4   Vincero Trading LLC  101465859
..                  ...        ...
62         prime bazaar  101217155
63                weixi  101613747
64      Gomind Co., Ltd  101502050
65   Kathryn's Emporium  101569811
66  Avenue A Stores LLC  101003242

[67 rows x 13 columns]
Dataframe after merging with seller info
     sourcing_channel       item_id  legacy_org_id blocked_date  \
0   External Web Form  6.189180e+08          18988   2024-03-01
1   External Web Form  5.111333e+09      101200668   2024-03-01
2   External Web Form  5.024152e+09      101578042   2024-03-04
3   External Web Form  4.262071e+08      101581578   2024-03-04
4   External Web Form  5.278059e+09      101465859   2024-03-05
..                ...           ...            ...          ...
62  External Web Form  1.776812e+08      101217155   2024-03-27
63  External Web Form  8.321817e+08      101613747   2024-03-28
64  External Web Form  1.553727e+09      101502050   2024-03-28
65  External Web Form  5.059990e+08      101569811   2024-03-28
66  External Web Form  8.538999e+08      101003242   2024-03-29

            Seller Name      Actual Claim Type  Year  Month  wk_nbr_of_yr_nbr  \
0    Joybuy Marketplace  Confirmed Counterfeit  2024      3                 9
1        A&amp;S League  Confirmed Counterfeit  2024      3                 9
2           Shen BaoZhu  Confirmed Counterfeit  2024      3                10
3       Crofton Traders            Counterfeit  2024      3                10
4   Vincero Trading LLC            Counterfeit  2024      3                10
..                  ...                    ...   ...    ...               ...
62         prime bazaar  Confirmed Counterfeit  2024      3                13
63                weixi  Confirmed Counterfeit  2024      3                13
64      Gomind Co., Ltd  Confirmed Counterfeit  2024      3                13
65   Kathryn's Emporium  Confirmed Counterfeit  2024      3                13
66  Avenue A Stores LLC  Confirmed Counterfeit  2024      3                13

     week_year                                             org_nm  \
0    Wk-9-2024  Jingdong E-Commerce (Trade) Hong Kong Corporat...
1    Wk-9-2024                                         A&S League
2   Wk-10-2024                guangzhoumichishangmaoyouxiangongsi
3   Wk-10-2024                                Crofton Traders LLC
4   Wk-10-2024                                Vincero Trading LLC
..         ...                                                ...
62  Wk-13-2024                                         pennsl llc
63  Wk-13-2024               shanghaiweixixinxijishuyouxiangongsi
64  Wk-13-2024      Shenzhenshi yiweihedianzishangwuyouxiangongsi
65  Wk-13-2024                            Collebra Essentials LLC
66  Wk-13-2024                                Avenue A Stores LLC

            org_disp_nm     org_cd
0    Joybuy Marketplace      18988
1            A&S League  101200668
2           Shen BaoZhu  101578042
3       Crofton Traders  101581578
4   Vincero Trading LLC  101465859
..                  ...        ...
62         prime bazaar  101217155
63                weixi  101613747
64      Gomind Co., Ltd  101502050
65   Kathryn's Emporium  101569811
66  Avenue A Stores LLC  101003242

[67 rows x 13 columns]

In [31]:
CF_Slr.head()

,sourcing_channel,item_id,legacy_org_id,blocked_date,Seller Name,Actual Claim Type,Year,Month,wk_nbr_of_yr_nbr,week_year,org_nm,org_disp_nm,org_cd
0,External Web Form,6.189180e+08,18988,2024-03-01,Joybuy Marketplace,Confirmed Counterfeit,2024,3,9,Wk-9-2024,Jingdong E-Commerce (Trade) Hong Kong Corporat...,Joybuy Marketplace,18988
1,External Web Form,5.111333e+09,101200668,2024-03-01,A&amp;S League,Confirmed Counterfeit,2024,3,9,Wk-9-2024,A&S League,A&S League,101200668
2,External Web Form,5.024152e+09,101578042,2024-03-04,Shen BaoZhu,Confirmed Counterfeit,2024,3,10,Wk-10-2024,guangzhoumichishangmaoyouxiangongsi,Shen BaoZhu,101578042
3,External Web Form,4.262071e+08,101581578,2024-03-04,Crofton Traders,Counterfeit,2024,3,10,Wk-10-2024,Crofton Traders LLC,Crofton Traders,101581578
4,External Web Form,5.278059e+09,101465859,2024-03-05,Vincero Trading LLC,Counterfeit,2024,3,10,Wk-10-2024,Vincero Trading LLC,Vincero Trading LLC,101465859

In [32]:
######## Getting Base Item Id and Brand & categ info ########


#CF['item_id']=CF['item_id'].astype(int)

#Item_Id_List=list(CF['item_id'].unique())

#Item_list_td=','.join("'{0}'".format(w) for w in Item_Id_List)

#Item_list_td1 =Item_list_td.replace("'", "")
                                     
#query ="select distinct base_item_id,catlg_item_id, prod_nm,wm_dept_nm\
#     from ww_product_dl_tables.prod where catlg_item_id in ("+Item_list_td1+")"
                                     
#tdDf_Item_info  = dataset.load(name="gcp_dd_connection", query = query)
                                                                
                                 
#print('Completed pulling Base Item Info.\n')

#print('Dataframe of Item Info.\n'+str(tdDf_Item_info))


#tdDf_Item_info=tdDf_Item_info.rename(columns={'CATLG_ITEM_ID':'item_id'})

In [33]:
#CF = CF[CF['item_id'].astype(str).str.isnumeric()== True]


#print(CF)

CF['item_id']=CF['item_id'].astype(int)

Item_Id_List=list(CF['item_id'].unique())

Item_list_td=','.join("'{0}'".format(w) for w in Item_Id_List)



Item_list_td1 =Item_list_td.replace("'", "")


print(Item_list_td1)

618918023,5111332918,5024151525,426207121,5278058983,5263051027,838582558,190998557,134308565,977692465,905795499,443712369,358328799,733896893,998003334,5148786739,569469777,25259524,705468725,357810047,1062504602,37909234,5456466218,892871023,229747348,993445542,2134346550,759798679,5429222713,255408967,390701435,737014624,349174816,1291340325,5414651411,5048494175,55662709,3299591079,1303497911,832181652,748679274,125564097,3642256753,5298147611,376744667,345940829,921671561,5269584040,5488067940,5501974487,5496102683,5357298105,5464509582,5488067927,5459902603,5488067926,5361687624,2992285176,177681231,1553726877,505998966,853899879

In [34]:
#### After Merging with CFs #####

###### This is the cleaned CF File #######


#q = "select distinct base_item_id,catlg_item_id, prod_nm,wm_dept_nm from `wmt-edw-prod.WW_PRODUCT_DL_VM.PROD`\
#where catlg_item_id in ("+Item_list_td1+")"  
#
#tdDf_Item_info  = dataset.load(name="bq_connection", query = q)

query ="select distinct base_item_id,catlg_item_id, prod_nm,wm_dept_nm from `wmt-edw-prod.WW_PRODUCT_DL_VM.PROD` where catlg_item_id in ("+Item_list_td1+")"

tdDf_Item_info  = dataset.load(name="bq_connection", query = query)

CF_Item=pd.merge(CF_Slr,tdDf_Item_info, left_on='item_id', right_on= 'catlg_item_id',how='left')

print('Dataframe after merging CF with Item Info.\n'+str(CF_Item))

Final_CF=CF_Item[['sourcing_channel','org_nm','item_id','blocked_date',
                  'org_disp_nm','org_cd','legacy_org_id','base_item_id']]
Final_CF=Final_CF.rename(columns={'sourcing_channel':'sourcing_channel','org_nm':'slr_org_nm',
                                  'CATEG_NM':'categ_ctlg','org_disp_nm':'walmart_disp_nm',
                                  'org_cd':'org_id','legacy_org_id':'legacy_org_id',
                                  'BASE_ITEM_ID':'base_item_id','BRAND_ID':'brand_id',
                                  'item_nm':'item_title'}) 

                 
#Final_CF=CF_Item[['sourcing_channel','ORG_NM','item_id','blocked_date',
##                  'ORG_DISP_NM','org_cd','legacy_org_id','base_item_id']]                  

#Final_CF=Final_CF.rename(columns={'sourcing_channel':'sourcing_channel','ORG_NM':'slr_org_nm',
#                                  'CATEG_NM':'categ_ctlg','ORG_DISP_NM':'walmart_disp_nm',
#                                  'org_cd':'org_id','legacy_org_id':'legacy_org_id',
#                                  'BASE_ITEM_ID':'base_item_id','BRAND_ID':'brand_id',
#                                  'item_nm':'item_title'})
 
#Final_CF.to_excel(exit_path+'CF Monthly Item Info.xlsx')

#Final_CF=pd.read_excel(exit_path+'CF Monthly Item Info.xlsx')
print('Final Counterfeit Weekly DF\n'+str(Final_CF.info()))

Dataframe after merging CF with Item Info.
     sourcing_channel       item_id  legacy_org_id blocked_date  \
0   External Web Form  6.189180e+08          18988   2024-03-01
1   External Web Form  5.111333e+09      101200668   2024-03-01
2   External Web Form  5.024152e+09      101578042   2024-03-04
3   External Web Form  4.262071e+08      101581578   2024-03-04
4   External Web Form  5.278059e+09      101465859   2024-03-05
..                ...           ...            ...          ...
62  External Web Form  1.776812e+08      101217155   2024-03-27
63  External Web Form  8.321817e+08      101613747   2024-03-28
64  External Web Form  1.553727e+09      101502050   2024-03-28
65  External Web Form  5.059990e+08      101569811   2024-03-28
66  External Web Form  8.538999e+08      101003242   2024-03-29

            Seller Name      Actual Claim Type  Year  Month  wk_nbr_of_yr_nbr  \
0    Joybuy Marketplace  Confirmed Counterfeit  2024      3                 9
1        A&amp;S League  Confirmed Counterfeit  2024      3                 9
2           Shen BaoZhu  Confirmed Counterfeit  2024      3                10
3       Crofton Traders            Counterfeit  2024      3                10
4   Vincero Trading LLC            Counterfeit  2024      3                10
..                  ...                    ...   ...    ...               ...
62         prime bazaar  Confirmed Counterfeit  2024      3                13
63                weixi  Confirmed Counterfeit  2024      3                13
64      Gomind Co., Ltd  Confirmed Counterfeit  2024      3                13
65   Kathryn's Emporium  Confirmed Counterfeit  2024      3                13
66  Avenue A Stores LLC  Confirmed Counterfeit  2024      3                13

     week_year                                             org_nm  \
0    Wk-9-2024  Jingdong E-Commerce (Trade) Hong Kong Corporat...
1    Wk-9-2024                                         A&S League
2   Wk-10-2024                guangzhoumichishangmaoyouxiangongsi
3   Wk-10-2024                                Crofton Traders LLC
4   Wk-10-2024                                Vincero Trading LLC
..         ...                                                ...
62  Wk-13-2024                                         pennsl llc
63  Wk-13-2024               shanghaiweixixinxijishuyouxiangongsi
64  Wk-13-2024      Shenzhenshi yiweihedianzishangwuyouxiangongsi
65  Wk-13-2024                            Collebra Essentials LLC
66  Wk-13-2024                                Avenue A Stores LLC

            org_disp_nm     org_cd  base_item_id  catlg_item_id  \
0    Joybuy Marketplace      18988     674659078      618918023
1            A&S League  101200668    5111332918     5111332918
2           Shen BaoZhu  101578042    5024151525     5024151525
3       Crofton Traders  101581578     426207121      426207121
4   Vincero Trading LLC  101465859    5278058983     5278058983
..                  ...        ...           ...            ...
62         prime bazaar  101217155     177681231      177681231
63                weixi  101613747     832181652      832181652
64      Gomind Co., Ltd  101502050    1553726877     1553726877
65   Kathryn's Emporium  101569811     505998966      505998966
66  Avenue A Stores LLC  101003242     801504910      853899879

                                              prod_nm wm_dept_nm
0   TRGPSG Men's Cotton Casual Cargo Shorts with M...          0
1   Designed for iPhone 15 Pro Max Case, Clear Rei...          0
2   FROG @Ease Replacement SmartChlor Chlorine Car...       None
3   Pure Daily Care LED Light Therapy Luma Mask Ad...         46
4   STRONG ARM - COYOTE BROWN,PLAIN EDGE KNIFE Gerber          0
..                                                ...        ...
62   In-Sink-Erator Replacement Filter Cartridge Plus         16
63  Replacement Earbud Tips Covers for Apple AirPo...       None
64  Ultrasonic Pest Repeller ,Electronic Pest Repe...       None
65               Sinclair Kelo-Cote Gel for Scars 15g          0
66  White Puka Shell Neckace - Hawaiian Style Clam...          0

[67 rows x 17 columns]
<class 'pandas.core.frame.DataFrame'>
Int64Index: 67 entries, 0 to 66
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   sourcing_channel  67 non-null     object
 1   slr_org_nm        67 non-null     object
 2   item_id           67 non-null     float64
 3   blocked_date      67 non-null     object
 4   walmart_disp_nm   67 non-null     object
 5   org_id            67 non-null     object
 6   legacy_org_id     67 non-null     int64
 7   base_item_id      67 non-null     int64
dtypes: float64(1), int64(2), object(5)
memory usage: 4.7+ KB
Final Counterfeit Weekly DF
None

In [35]:
##### Brand Names
#Item_Id_List=list(Final_CF['item_id'].unique())

#Item_list_td=','.join("{0}".format(w) for w in Item_Id_List)

#legacy_org_Id_List=list(Final_CF['legacy_org_id'].unique())

#Legacy_td=','.join("'{0}'".format(w) for w in legacy_org_Id_List)

                                     
#query ="select distinct catlg_item_id,brand_nm, rpt_lvl_0_nm, rpt_lvl_1_nm, rpt_lvl_2_nm,\
#                        rpt_lvl_3_nm,rpt_lvl_4_nm from ww_product_dl_tables.cnsld_tactical_sku\
#                        where catlg_item_id in ("+Item_list_td+")"
                                     
#Brand_Names= dataset.load(name="gcp_dd_connection", query = query)


#Brand_Names=Brand_Names.rename(columns={'catlg_item_id':'item_id'})
#GCP No
#Brand_Names['brand_id']=Brand_Names['brand_id'].astype(int)


#BFD
###Final_CF1=pd.merge(Final_CF,Brand_Names,on=['item_id','brand_id'],how='left')
#Final_CF1=pd.merge(Final_CF,Brand_Names,on=['item_id'],how='left')
#Final_CF=Final_CF1.copy()

#Final_CF=Final_CF.rename(columns={'rpt_lvl_3_nm':'categ_nm'})

In [36]:
Item_Id_List=list(Final_CF['item_id'].unique())

Item_list_td=','.join("{0}".format(w) for w in Item_Id_List)

legacy_org_Id_List=list(Final_CF['legacy_org_id'].unique())



Legacy_td=','.join("'{0}'".format(w) for w in legacy_org_Id_List)

query ="select distinct catlg_item_id,brand_nm, rpt_lvl_0_nm, rpt_lvl_1_nm, rpt_lvl_2_nm,\
                        rpt_lvl_3_nm,rpt_lvl_4_nm from wmt-edw-prod.WW_PRODUCT_DL_VM.CNSLD_TACTICAL_SKU\
                        where catlg_item_id in ("+Item_list_td+")"
                                     
Brand_Names= dataset.load(name="bq_connection", query = query)

Brand_Names=Brand_Names.rename(columns={'catlg_item_id':'item_id'})

Final_CF1=pd.merge(Final_CF,Brand_Names,on=['item_id'],how='left')
Final_CF=Final_CF1.copy()

Final_CF=Final_CF.rename(columns={'rpt_lvl_3_nm':'categ_nm'})
print(Final_CF)

     sourcing_channel                                         slr_org_nm  \
0   External Web Form  Jingdong E-Commerce (Trade) Hong Kong Corporat...
1   External Web Form                                         A&S League
2   External Web Form                guangzhoumichishangmaoyouxiangongsi
3   External Web Form                                Crofton Traders LLC
4   External Web Form                                Vincero Trading LLC
..                ...                                                ...
62  External Web Form                                         pennsl llc
63  External Web Form               shanghaiweixixinxijishuyouxiangongsi
64  External Web Form      Shenzhenshi yiweihedianzishangwuyouxiangongsi
65  External Web Form                            Collebra Essentials LLC
66  External Web Form                                Avenue A Stores LLC

         item_id blocked_date      walmart_disp_nm     org_id  legacy_org_id  \
0   6.189180e+08   2024-03-01   Joybuy Marketplace      18988          18988
1   5.111333e+09   2024-03-01           A&S League  101200668      101200668
2   5.024152e+09   2024-03-04          Shen BaoZhu  101578042      101578042
3   4.262071e+08   2024-03-04      Crofton Traders  101581578      101581578
4   5.278059e+09   2024-03-05  Vincero Trading LLC  101465859      101465859
..           ...          ...                  ...        ...            ...
62  1.776812e+08   2024-03-27         prime bazaar  101217155      101217155
63  8.321817e+08   2024-03-28                weixi  101613747      101613747
64  1.553727e+09   2024-03-28      Gomind Co., Ltd  101502050      101502050
65  5.059990e+08   2024-03-28   Kathryn's Emporium  101569811      101569811
66  8.538999e+08   2024-03-29  Avenue A Stores LLC  101003242      101003242

    base_item_id         brand_nm                     rpt_lvl_0_nm  \
0      674659078           TRGPSG                          APPAREL
1     5111332918          KALMORE  ENTERTAINMENT TOYS AND SEASONAL
2     5024151525             FROG                        HARDLINES
3      426207121  Pure Daily Care                      CONSUMABLES
4     5278058983      Gerber Gear                        HARDLINES
..           ...              ...                              ...
62     177681231     InSinkErator                        HARDLINES
63     832181652      JustEarbuds  ENTERTAINMENT TOYS AND SEASONAL
64    1553726877            OIEXI                      CONSUMABLES
65     505998966        Kelo-cote                      CONSUMABLES
66     801504910         Fablinks                          APPAREL

             rpt_lvl_1_nm                    rpt_lvl_2_nm  \
0         23 MENS APPAREL          BRAND COLLECTIONS MENS
1             87 WIRELESS         WIRELESS ACCESSORIES L2
2       09 SPORTING GOODS                 SUMMER SEASONAL
3               46 BEAUTY                        SKINCARE
4       09 SPORTING GOODS       KNIVES ARCHERY AND OPTICS
..                    ...                             ...
62  11 HARDWARE AND TOOLS                   AIR AND WATER
63         72 ELECTRONICS             ELECTRONICS MISC L2
64  13 HOUSEHOLD CLEANING  BATHROOM CARE AND PEST CONTROL
65        40 PHARMACY OTC                     HEALTH CARE
66             32 JEWELRY                    FINE JEWELRY

                           categ_nm                    rpt_lvl_4_nm
0            OTHER COLLECTIONS MENS   SHORTS OTHER COLLECTIONS MENS
1                             CASES                     APPLE CASES
2                             POOLS                    POOL FILTERS
3                          FACECARE                      FACE MASKS
4                            KNIVES                  FOLDING KNIVES
..                              ...                             ...
62  WATER FILTRATION AND DISPENSERS           WATER PITCHER SYSTEMS
63              ELECTRONICS MISC L3             ELECTRONICS MISC L4
64           HOUSEHOLD PEST CONTROL            HOUSEHOLD REPELLENTS
65                        FIRST AID                     MAJOR WOUND
66     FINE GEMSTONE JEWELRY WOMENS  NECKLACES FINE GEMSTONE WOMENS

[67 rows x 14 columns]

In [37]:
######### Orders & Revenue Details ############

##### Function ###### 

Final_CF_G=Final_CF.groupby('slr_org_nm')['item_id'].nunique().reset_index()
print(Final_CF_G)
Item_DF= Final_CF['item_id'].unique()
#Final_CF_G['slr_org_nm'] = Final_CF_G['org_nm'].astype(str)
Final_CF_G['slr_org_nm new']=Final_CF_G['slr_org_nm'].str.replace(r"[\"\']", '')

### To remove 's and other punctuations to hit accurate words #####
Final_CF_G['slr_org_nm 1']=Final_CF_G['slr_org_nm new'].str.split().str.get(0)
Final_CF_G['slr_org_nm 2']=Final_CF_G['slr_org_nm new'].str.split().str.get(1)
Final_CF_G['slr_org_nm 3']=Final_CF_G['slr_org_nm 1']+' '+Final_CF_G['slr_org_nm 2']
Final_CF_G['slr_org_nm 4']=Final_CF_G['slr_org_nm 3'].fillna(Final_CF_G['slr_org_nm 1'])

Seller_DF=Final_CF_G['slr_org_nm 4'].unique()
#

Seller_DF='%'+Final_CF_G['slr_org_nm 4'].astype(str) + '%'
SellerIDListStr2 = list(Seller_DF)

ItemIDListStr2 = ','.join("{0}".format(w) for w in Final_CF['item_id'])
ItemIDListStr3 = ','.join("'{0}'".format(w) for w in Final_CF['item_id'])
ItemIDListStr3 = ','.join("'{0}'".format(w) for w in Final_CF['item_id'].astype(int))
SellerIDListStr3 = ','.join("'{0}'".format(w) for w in SellerIDListStr2)

                                           slr_org_nm  item_id
0                                          123topfive        1
1                             1313 JEFFREY REALTY LLC        9
2                                          A&S League        1
3                         Active beauty solutions LLC        1
4                        Allnature International Inc.        1
5                                 Avenue A Stores LLC        1
6                                   Bookmark Overseas        1
7                             Collebra Essentials LLC        1
8                                   Condition One LLC        1
9                                 Crofton Traders LLC        1
10                                 E&M Enterprise One        1
11                             ENTITY PROPERTIES, LLC        1
12                            Eternal Health N Beauty        1
13                          Front Source Technologies        1
14                                    Glutti Ecom LLC        1
15                                       Gogi Buy Inc        1
16                             Great Gear Central LLC        1
17            Guangzhou guangheriyongpinyouxiangongsi        1
18                                        Homryte LLC        1
19                      JD E Commerce America Limited        1
20                                       JS Crown LLC        1
21  Jingdong E-Commerce (Trade) Hong Kong Corporat...        1
22                                      Joseph Ciorra        1
23                                        Kainalo LLC        1
24                                      Khushbu Banka        2
25                         LA ONE STOP WAREHOUSE Inc.        1
26                             NCR Business Solutions        1
27                                    NITIKA AGGARWAL        2
28                                   PAC Services Inc        2
29                                   PAPER N SUCH LLC        1
30                        Savitr Global Solutions LLC        1
31      Shenzhenshi yiweihedianzishangwuyouxiangongsi        1
32                                          Shop2Ship        1
33                               Style Like Mine Inc.        7
34                                     Texas Prestige        1
35                                Vincero Trading LLC        1
36    deng zhou shi an bao shang mao you xian gong si        2
37                guangzhoumichishangmaoyouxiangongsi        1
38             guangzhouyuelaiyueniukejiyouxiangongsi        1
39              hefeibingfandongfuzhuangyouxiangongsi        2
40                henantuerqiwangluokejiyouxiangongsi        1
41                  jinanhaoxuexinxikejiyouxiangongsi        1
42                                         minicc llc        1
43                                         pennsl llc        1
44               shanghaiweixixinxijishuyouxiangongsi        1
45                shenzhenshizuoheshipinyouxiangongsi        1
46                                  wisermerchant llc        1
47           wuxueshishalindianzishangwuyouxiangongsi        1

In [38]:
######## Getting the revenue & orders details of all CF sellers ############

#offerlist = Received_file[Received_file['Action'] == 'Block']['ID'].unique()
#offerList1 = ','.join("'{0}'".format(w) for w in offerlist)


#query = "select src_tenant_sku_id as offer_id, order_placed_dt,cust_id, \
#COUNT(DISTINCT sales_order_num) as Order_Number, \
#sum(gmv_order_amt) as Total_Revenue, sum(units) as Total_Quantity, \
#sum(gmv_plcd_amt) as Placed_Amount, sum(plcd_units) as Placed_Quantity, \
#sum(gmv_cncl_amt) as Total_cancel_Amount, sum(cncl_units) as Cancelled_Quantity, \
#sum(gmv_rfnd_amt) as Refunded_Amount, sum(rtn_units) as Return_Quantity \
#from ww_crew_dl_rpt_vm.cnsld_order_item_orig \
#where order_placed_dt <= date'"+monthend+"' and order_placed_dt >=date'2019-05-26' \
#and src_tenant_sku_id in (" +offerList1+ ") \
#group by src_tenant_sku_id, order_placed_dt,cust_id"
                                     

#CF_dfGCP1  = dataset.load(name="gcp_dd_connection", query = query)
#CF_dfGCP1.info()

In [39]:
offerlist = Received_file[Received_file['Action'] == 'Block']['ID'].unique()
offerList1 = ','.join("'{0}'".format(w) for w in offerlist)

query = "select offr_id as offer_id, order_plcd_dt,cust_id, \
COUNT(DISTINCT order_child_nbr) as Order_Number, \
sum(gmv_order_amt) as Total_Revenue, sum(net_cncl_qty) as Total_Quantity, \
sum(gmv_plcd_amt) as Placed_Amount, sum(plcd_qty) as Placed_Quantity, \
sum(gmv_cncl_amt) as Total_cancel_Amount, sum(cncl_qty) as Cancelled_Quantity, \
sum(gmv_rfnd_amt) as Refunded_Amount, sum(rtn_rfnd_full_qty) as Return_Quantity \
from `wmt-edw-prod.WW_CREW_DL_RPT_VM.CNSLD_ORDER_ITEM` \
where order_plcd_dt <= date'"+monthend+"' and order_plcd_dt >=date'2019-05-26'\
and offr_id in ("+offerList1+ " \
) group by offr_id, order_plcd_dt,cust_id "
                            
CF_dfGCP1  = dataset.load(name="bq_connection", query = query)
CF_dfGCP1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1796 entries, 0 to 1795
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   offer_id             1796 non-null   object
 1   order_plcd_dt        1796 non-null   object
 2   cust_id              1796 non-null   object
 3   Order_Number         1796 non-null   int64
 4   Total_Revenue        1762 non-null   object
 5   Total_Quantity       1796 non-null   int64
 6   Placed_Amount        1762 non-null   object
 7   Placed_Quantity      1796 non-null   int64
 8   Total_cancel_Amount  1762 non-null   object
 9   Cancelled_Quantity   93 non-null     float64
 10  Refunded_Amount      1762 non-null   object
 11  Return_Quantity      1796 non-null   int64
dtypes: float64(1), int64(4), object(7)
memory usage: 168.5+ KB

In [40]:
monthend

'2024-03-01'

In [41]:
## BUG FIX
# Need to make sure Seller + item combination is valid i.e. between Final_CF and CF_df
Final_CF_v2 = Final_CF.copy()
Final_CF_v2=Final_CF_v2.rename(columns={'slr_org_nm':'SLR_ORG_NM','item_id':'CATLG_ITEM_ID'})
keys = ['legacy_org_id','CATLG_ITEM_ID']
#i1 = CF_dfGCP.set_index(keys).index
#i2 = Final_CF_v2.set_index(keys).index
#CF_rev = CF_df[i1.isin(i2)]
#
  

  
##CF_rev = pd.merge(CF_dfGCP, CF_dfGCP1, how = 'left', left_on = ['legacy_org_id', 'CATLG_ITEM_ID', 'ORDER_PLACED_DT'], right_on = ['merch_id', 'order_item_id', 'order_placed_dt'])
           
#Total_revenue=pd.concat([CF_df_index0,CF_df_index1,CF_df_index2,CF_df_index3],ignore_index=True)

CF_rev = pd.merge(CF_dfGCP1, Received_file[['Legacy Seller ID', 'ID', 'Seller Name', 'Item ID']].drop_duplicates(), \
                  how = 'left', left_on = 'offer_id', right_on = 'ID')


CF_rev.info()


Received_file[Received_file['Action'] == 'Block']['ID'].unique()

#CF_rev.to_excel(exit_path+'Final Revenue of confirmed CFs.xlsx')

#Total_revenue=pd.read_excel(exit_path+'Final Revenue of confirmed CFs.xlsx')

Total_revenue=CF_rev.copy()

CF_rev=Total_revenue.copy()
CF_rev.to_excel('Final Revenue of confirmed CFs.xlsx')


CF_rev=CF_rev.rename(columns={'order_plcd_dt':'ORDER_PLACED_DT',  \
'Total_Revenue' : 'Sum(TOT_GMV)', 'Seller Name': 'SLR_ORG_NM'})

CF_rev['Sum(TOT_GMV)'] = CF_rev['Sum(TOT_GMV)'].astype(float)

#### 30 days Revenue ######

CF_rev['ORDER_PLACED_DT']=pd.to_datetime(CF_rev['ORDER_PLACED_DT'])



CF_rev_30days=CF_rev[(CF_rev['ORDER_PLACED_DT']<=monthend) & (CF_rev['ORDER_PLACED_DT']>=d30_ago)]
CF_rev_30days.info()
CF_rev_30days.groupby('SLR_ORG_NM')['Sum(TOT_GMV)','Order_Number'].sum().nlargest(10,'Sum(TOT_GMV)').reset_index()

CF_rev_30days.sum()


#CF_rev_30days.to_excel(exit_path+'Final Revenue of confirmed CFs 30 days.xlsx')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1796 entries, 0 to 1795
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   offer_id             1796 non-null   object
 1   order_plcd_dt        1796 non-null   object
 2   cust_id              1796 non-null   object
 3   Order_Number         1796 non-null   int64
 4   Total_Revenue        1762 non-null   object
 5   Total_Quantity       1796 non-null   int64
 6   Placed_Amount        1762 non-null   object
 7   Placed_Quantity      1796 non-null   int64
 8   Total_cancel_Amount  1762 non-null   object
 9   Cancelled_Quantity   93 non-null     float64
 10  Refunded_Amount      1762 non-null   object
 11  Return_Quantity      1796 non-null   int64
 12  Legacy Seller ID     1796 non-null   float64
 13  ID                   1796 non-null   object
 14  Seller Name          1796 non-null   object
 15  Item ID              1796 non-null   int64
dtypes: float64(2), int64(5), object(9)
memory usage: 238.5+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 905 entries, 1 to 1792
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   offer_id             905 non-null    object
 1   ORDER_PLACED_DT      905 non-null    datetime64[ns]
 2   cust_id              905 non-null    object
 3   Order_Number         905 non-null    int64
 4   Sum(TOT_GMV)         884 non-null    float64
 5   Total_Quantity       905 non-null    int64
 6   Placed_Amount        884 non-null    object
 7   Placed_Quantity      905 non-null    int64
 8   Total_cancel_Amount  884 non-null    object
 9   Cancelled_Quantity   40 non-null     float64
 10  Refunded_Amount      884 non-null    object
 11  Return_Quantity      905 non-null    int64
 12  Legacy Seller ID     905 non-null    float64
 13  ID                   905 non-null    object
 14  SLR_ORG_NM           905 non-null    object
 15  Item ID              905 non-null    int64
dtypes: datetime64[ns](1), float64(3), int64(5), object(7)
memory usage: 120.2+ KB

/home/jupyter/libraries/nb_env/lib64/python3.6/site-packages/ipykernel/__main__.py:47: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

offer_id               A773A84F79863510A91E547F24768AE1632537EF58973C...
cust_id                F053D27980C04787E044001517F43A86A1F40E6699B940...
Order_Number                                                         918
Sum(TOT_GMV)                                                     33650.9
Total_Quantity                                                      1058
Placed_Amount                                                   37585.08
Placed_Quantity                                                     1232
Total_cancel_Amount                                              1247.51
Cancelled_Quantity                                                   174
Refunded_Amount                                                  2686.66
Return_Quantity                                                       75
Legacy Seller ID                                              8.4233e+10
ID                     A773A84F79863510A91E547F24768AE1632537EF58973C...
SLR_ORG_NM             Crofton TradersGreat Gear CentralGreat Gear Ce...
Item ID                                                    1549684940289
dtype: object

In [42]:
#CF_rev[CF_rev['SLR_ORG_NM'] == 'Joybuy']['Item ID'].unique()

In [43]:
CF_rev.sort_values('ORDER_PLACED_DT', ascending = False).head()

,offer_id,ORDER_PLACED_DT,cust_id,Order_Number,Sum(TOT_GMV),Total_Quantity,Placed_Amount,Placed_Quantity,Total_cancel_Amount,Cancelled_Quantity,Refunded_Amount,Return_Quantity,Legacy Seller ID,ID,SLR_ORG_NM,Item ID
140,74CFC13862003100994247CBA0B55170,2024-03-01,F308B5AD0E3442A984C7B51DE6B7A1EA,1,23.99,1,23.99,1,0,NaN,0,0,101021962.0,74CFC13862003100994247CBA0B55170,SportsnToys.com,5269584040
829,166E6840106F3958822767DB1068CC7F,2024-03-01,157CF78D6303409096DD42655804CC33,1,16.99,1,16.99,1,0,NaN,0,0,8423.0,166E6840106F3958822767DB1068CC7F,Front Source Technologies,1062504602
1710,ABFD4AEA3F823E2481CD66BF6BC8D3FB,2024-03-01,D0EBD90E485349C2A0E47DB285E681A3,1,NaN,0,None,10,None,10.0,None,0,101397357.0,ABFD4AEA3F823E2481CD66BF6BC8D3FB,Homryte Goods,55662709
1045,ABFD4AEA3F823E2481CD66BF6BC8D3FB,2024-03-01,3ED93002F30A4B9393E53D19F730071C,1,0.00,1,64.99,1,0,NaN,64.99,1,101397357.0,ABFD4AEA3F823E2481CD66BF6BC8D3FB,Homryte Goods,55662709
1740,B989988926DA32B1BB4B2BE5765F09F6,2024-03-01,F16ECD6F88750550E044001517F43A86,1,10.99,1,10.99,1,0,NaN,0,0,101009600.0,B989988926DA32B1BB4B2BE5765F09F6,lovebuy365,892871023

In [44]:
#cf_v1['CATLG_ITEM_ID'] = cf_v1['CATLG_ITEM_ID'].astype(float)
#Final_CF_v1['CATLG_ITEM_ID'] = Final_CF_v1['CATLG_ITEM_ID'].astype(float)

In [45]:
#Final_CF_v2.info()

In [46]:
Final_CF_v1=Final_CF.rename(columns={'item_id':'CATLG_ITEM_ID','legacy_org_id':'legacy_org_id'})
Final_CF_v1['CATLG_ITEM_ID'] = Final_CF_v1['CATLG_ITEM_ID'].astype(str)
cf_v1=cf.rename(columns={'item_id':'CATLG_ITEM_ID'})

#Final_CF_v2=pd.merge(cf_v1,Final_CF_v1,on=['CATLG_ITEM_ID','legacy_org_id'],how='inner')
Final_CF_v2=pd.merge(cf_v1,Final_CF_v1,on=['legacy_org_id'],how='inner')

Final_CF_v2=Final_CF_v2.rename(columns={'slr_org_nm':'SLR_ORG_NM'})


#Merging_Confirmed_Cfs=pd.merge(Final_CF_v2,CF_rev_30days,on=['CATLG_ITEM_ID','SLR_ORG_NM'],how='inner')

#Merging_Confirmed_Cfs_v1=Merging_Confirmed_Cfs[Merging_Confirmed_Cfs['Actual Claim Type']=='Confirmed Counterfeit ']


#Final_CF_v2_confirmed=Final_CF_v2[Final_CF_v2['Actual Claim Type']=='Confirmed Counterfeit ']

###### 3 months revenue
CF_rev_90days=CF_rev[(CF_rev['ORDER_PLACED_DT']<=monthend) & (CF_rev['ORDER_PLACED_DT']>=d90_ago)]

CF_rev_90days.groupby('SLR_ORG_NM')['Sum(TOT_GMV)','Order_Number'].sum().reset_index()

CF_rev_90days.sum()

days90_grouped = CF_rev_90days.groupby('SLR_ORG_NM')['Sum(TOT_GMV)','Order_Number'].sum().reset_index()
TOP_SLR_90days = days90_grouped.sort_values('Sum(TOT_GMV)', ascending=False)

CF_rev_90days.groupby('SLR_ORG_NM')['Sum(TOT_GMV)','Order_Number'].sum().nlargest(10,'Sum(TOT_GMV)').reset_index()

#CF_rev_90days.to_excel(exit_path+'Final Revenue of confirmed CFs 90 days.xlsx')

###### 6 months revenue
CF_rev_6months=CF_rev[(CF_rev['ORDER_PLACED_DT']<=monthend) & (CF_rev['ORDER_PLACED_DT']>=six_months_ago)]

CF_rev_6months.groupby('SLR_ORG_NM')['Sum(TOT_GMV)','Order_Number'].sum().reset_index()

CF_rev_6months.groupby('SLR_ORG_NM')['Sum(TOT_GMV)','Order_Number'].sum().nlargest(10,'Sum(TOT_GMV)').reset_index()


CF_rev_6months.sum()

Months_6_grouped = CF_rev_6months.groupby('SLR_ORG_NM')['Sum(TOT_GMV)','Order_Number'].sum().reset_index()
TOP_SLR_6months = Months_6_grouped.sort_values('Sum(TOT_GMV)', ascending=False)

#CF_rev_6months.to_excel(exit_path+'Final Revenue of confirmed CFs 180 days.xlsx')
##### 12 months revenue
CF_rev_12months=CF_rev[(CF_rev['ORDER_PLACED_DT']<=monthend) & (CF_rev['ORDER_PLACED_DT']>=twelve_months_ago)]

CF_rev_12months.groupby('SLR_ORG_NM')['Sum(TOT_GMV)','Order_Number'].sum().reset_index()
CF_rev_12months.groupby('SLR_ORG_NM')['Sum(TOT_GMV)','Order_Number'].sum().nlargest(10,'Sum(TOT_GMV)').reset_index()


CF_rev_12months.sum()

/home/jupyter/libraries/nb_env/lib64/python3.6/site-packages/ipykernel/__main__.py:21: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
/home/jupyter/libraries/nb_env/lib64/python3.6/site-packages/ipykernel/__main__.py:25: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
/home/jupyter/libraries/nb_env/lib64/python3.6/site-packages/ipykernel/__main__.py:28: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
/home/jupyter/libraries/nb_env/lib64/python3.6/site-packages/ipykernel/__main__.py:35: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
/home/jupyter/libraries/nb_env/lib64/python3.6/site-packages/ipykernel/__main__.py:37: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
/home/jupyter/libraries/nb_env/lib64/python3.6/site-packages/ipykernel/__main__.py:42: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
/home/jupyter/libraries/nb_env/lib64/python3.6/site-packages/ipykernel/__main__.py:49: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
/home/jupyter/libraries/nb_env/lib64/python3.6/site-packages/ipykernel/__main__.py:50: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

offer_id               CA247B88CD1B37529A051825F7AC4542A773A84F798635...
cust_id                DDCBF79EA7D24FB596E369451CAC981EF053D27980C047...
Order_Number                                                        1836
Sum(TOT_GMV)                                                     79124.2
Total_Quantity                                                      2361
Placed_Amount                                                   90301.24
Placed_Quantity                                                     2695
Total_cancel_Amount                                              3485.93
Cancelled_Quantity                                                   334
Refunded_Amount                                                  7691.09
Return_Quantity                                                      139
Legacy Seller ID                                             1.69245e+11
ID                     CA247B88CD1B37529A051825F7AC4542A773A84F798635...
SLR_ORG_NM             Vincero Trading LLCCrofton TradersJoybuy Marke...
Item ID                                                    2258003855048
dtype: object

In [47]:
Months_12_grouped = CF_rev_12months.groupby('SLR_ORG_NM')['Sum(TOT_GMV)','Order_Number'].sum().reset_index()
TOP_SLR_12months = Months_12_grouped.sort_values('Sum(TOT_GMV)', ascending=False)



#### greater than 12 months 
CF_rev_greaterthan12months=CF_rev[(CF_rev['ORDER_PLACED_DT']<=monthend)]

CF_rev_greaterthan12months.groupby('SLR_ORG_NM')['Sum(TOT_GMV)','Order_Number'].sum().reset_index()

### Seller Digico
#
#Digico=CF_rev[CF_rev['SLR_ORG_NM']=='Digico, LLC']
#
#Digico['Month']=Digico['ORDER_PLACED_DT'].dt.month
#Digico['Year']=Digico['ORDER_PLACED_DT'].dt.year
#
#Digico.groupby(['Month','Year','SLR_ORG_NM'])['Sum(TOT_GMV)','Order_Number'].sum().reset_index()
Final_CF_30_months=CF_rev[(CF_rev['ORDER_PLACED_DT']<=monthend) & (CF_rev['ORDER_PLACED_DT']>=d30_ago)]

Final_CF.groupby('slr_org_nm')['item_id'].nunique()
#Final_CF.groupby(['brand_ctlg','categ_ctlg'])['item_id'].nunique()
#Final_CF.groupby(['slr_org_nm','categ_ctlg'])['item_id'].nunique()
#Final_CF.groupby('wm_dept_nm')['item_id'].nunique()
#Final_CF.groupby(['slr_org_nm','brand_ctlg','categ_ctlg'])['item_id'].nunique()
grouped = CF_rev_30days.groupby('SLR_ORG_NM')['Sum(TOT_GMV)','Order_Number'].sum().reset_index()
TOP_SLR = grouped.sort_values('Sum(TOT_GMV)', ascending=False)

/home/jupyter/libraries/nb_env/lib64/python3.6/site-packages/ipykernel/__main__.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  if __name__ == '__main__':
/home/jupyter/libraries/nb_env/lib64/python3.6/site-packages/ipykernel/__main__.py:9: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
/home/jupyter/libraries/nb_env/lib64/python3.6/site-packages/ipykernel/__main__.py:26: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

In [48]:
grouped

                      SLR_ORG_NM  Sum(TOT_GMV)  Order_Number
0                 123topfive LLC       1087.36            61
1                 A&amp;S League         15.88             4
2                Active Protect+         48.00             1
3   Allnature International Inc.       1977.44            45
4                 BINFA-Wall Art         23.98             2
5              Bookmark Overseas        362.50            10
6                   Buggys Deals         12.49             1
7                Crofton Traders        399.92            11
8      Front Source Technologies        259.85            17
9                      GlobalHut        209.86             5
10            Great Gear Central      16142.09           375
11                 Homryte Goods        779.50            18
12                  JIYA EXPORTS        790.41            35
13   Jay's Skincare and Wellness       2787.79           127
14            Joybuy Marketplace         32.98             1
15   Joybuy Marketplace(Express)         83.10            10
16                    SHOPPINGSS         35.00             1
17                 Savitr Global       3655.72            17
18                   Shen BaoZhu       3265.29            67
19                Shop2Ship Mart         29.99             1
20               SportsnToys.com        119.95             5
21               Style Like Mine         16.75             2
22                    TUERKI,LLC         62.70             3
23                Texas Prestige         19.98             3
24           Vincero Trading LLC        310.97             7
25                 Wardrobe Inc.        442.68            54
26                    lovebuy365        307.72            24
27                      miyukiki        242.91             8
28              shampoosync corp        128.10             3

In [49]:
####################  Base Item Id Totals #########################################
                                     
#query ="SELECT count(distinct catlg_item_id)\
 #       FROM ww_product_dl_tables.offr_dly\
  #      WHERE offr_pub_status_nm = 'PUBLISHED'  AND op_cmpny_cd = 'WMT.COM'"
                                     

#tdDf_CatalogTotals1= dataset.load(name="gcp_dd_connection", query = query)
#print( tdDf_CatalogTotals)      
#print(tdDf_CatalogTotals1)   
#191509905                         
                                     
#print("Total Catalog Count & Base Items Count"+str(tdDf_CatalogTotals1))

#os.chdir('/Users/vn06kga/Documents/GitHub/TnS_analytics')

In [50]:
query ="SELECT count(distinct catlg_item_id) \
        FROM `wmt-edw-prod.WW_CREW_DL_RPT_VM.CNSLD_OFFR` \
        WHERE PUB_STATUS_NM = 'PUBLISHED'  AND OP_CMPNY_CD = 'WMT.COM'"
                                     

tdDf_CatalogTotals1= dataset.load(name="bq_connection", query = query)

print("Total Catalog Count & Base Items Count"+str(tdDf_CatalogTotals1))

Total Catalog Count & Base Items Count         f0_
0  489516014

In [51]:
#pd.options.display.max_columns = 10
#tdDf_CatalogTotals1

In [52]:
                                     
#query ="select COUNT(DISTINCT sales_order_num) as Order_Number, \
#sum(gmv_order_amt) as Total_Revenue, sum(units) as Total_Quantity, \
#sum(gmv_plcd_amt) as Placed_Amount, sum(plcd_units) as Placed_Quantity, \
#sum(gmv_cncl_amt) as Total_cancel_Amount, sum(cncl_units) as Cancelled_Quantity, \
#sum(gmv_rfnd_amt) as Refunded_Amount, sum(rtn_units) as Return_Quantity \
#from ww_crew_dl_rpt_vm.cnsld_order_item_orig \
#where order_placed_dt <= date'"+monthend+"' and order_placed_dt >=date'"+d30_ago+"' \
#and op_cmpny_cd = 'WMT.COM' and gmv_cr_ind = 1 and gmv_ind = 1 and svc_nm = 'MP'"




#tdDf_Orders_CatalogTotals_30daysGCP= dataset.load(name="gcp_dd_connection", query = query)
#print(tdDf_Orders_CatalogTotals_30daysGCP)

In [53]:
query ="select COUNT(DISTINCT order_child_nbr) as Order_Number, \
sum(gmv_order_amt) as Total_Revenue, sum(net_cncl_qty) as Total_Quantity, \
sum(gmv_plcd_amt) as Placed_Amount, sum(plcd_qty) as Placed_Quantity, \
sum(gmv_cncl_amt) as Total_cancel_Amount, sum(cncl_qty) as Cancelled_Quantity, \
sum(gmv_rfnd_amt) as Refunded_Amount, sum(rtn_rfnd_full_qty) as Return_Quantity \
from wmt-edw-prod.WW_CREW_DL_RPT_VM.CNSLD_ORDER_ITEM \
where order_plcd_dt <= date'"+monthend+"' and order_plcd_dt >=date'"+d30_ago+"' \
and op_cmpny_cd = 'WMT.COM' and gmv_cr_ind = 1 and gmv_ind = 1 and svc_nm = 'MP'"




tdDf_Orders_CatalogTotals_30daysGCP= dataset.load(name="bq_connection", query = query)
print(tdDf_Orders_CatalogTotals_30daysGCP)

   Order_Number        Total_Revenue  Total_Quantity        Placed_Amount  \
0      12468351  626491347.941212058        19341130  711315592.902499957

   Placed_Quantity Total_cancel_Amount  Cancelled_Quantity    Refunded_Amount  \
0         20076897  36265129.106187929              735767  48559115.85509997

   Return_Quantity
0          1198680

In [54]:
tdDf_Orders_CatalogTotals_30daysGCP

,Order_Number,Total_Revenue,Total_Quantity,Placed_Amount,Placed_Quantity,Total_cancel_Amount,Cancelled_Quantity,Refunded_Amount,Return_Quantity
0,12468351,626491347.941212058,19341130,711315592.902499957,20076897,36265129.106187929,735767,48559115.85509997,1198680

In [55]:
tdDf_Orders_CatalogTotals_30daysGCP

,Order_Number,Total_Revenue,Total_Quantity,Placed_Amount,Placed_Quantity,Total_cancel_Amount,Cancelled_Quantity,Refunded_Amount,Return_Quantity
0,12468351,626491347.941212058,19341130,711315592.902499957,20076897,36265129.106187929,735767,48559115.85509997,1198680

In [56]:
#### 90 Days ( 3months) Catalog Totals #####
                                     
#query ="select COUNT(DISTINCT sales_order_num) as Order_Number, \
#sum(gmv_order_amt) as Total_Revenue, sum(units) as Total_Quantity, \
#sum(gmv_plcd_amt) as Placed_Amount, sum(plcd_units) as Placed_Quantity, \
#sum(gmv_cncl_amt) as Total_cancel_Amount, sum(cncl_units) as Cancelled_Quantity, \
#sum(gmv_rfnd_amt) as Refunded_Amount, sum(rtn_units) as Return_Quantity \
#from ww_crew_dl_rpt_vm.cnsld_order_item_orig \
#where order_placed_dt <= date'"+monthend+"' and order_placed_dt >=date'"+d90_ago+"' \
#and op_cmpny_cd = 'WMT.COM' and gmv_cr_ind = 1 and gmv_ind = 1 and svc_nm = 'MP'"

#tdDf_Orders_CatalogTotals_90daysGCP = dataset.load(name="gcp_dd_connection", query = query)
#print(df.head(5))
  

#print(tdDf_Orders_CatalogTotals_90daysGCP)

#### 6 months Catalog Totals #####

                                     
#query ="select COUNT(DISTINCT sales_order_num) as Order_Number, \
#sum(gmv_order_amt) as Total_Revenue, sum(units) as Total_Quantity, \
#sum(gmv_plcd_amt) as Placed_Amount, sum(plcd_units) as Placed_Quantity, \
#sum(gmv_cncl_amt) as Total_cancel_Amount, sum(cncl_units) as Cancelled_Quantity, \
#sum(gmv_rfnd_amt) as Refunded_Amount, sum(rtn_units) as Return_Quantity \
#from ww_crew_dl_rpt_vm.cnsld_order_item_orig \
#where order_placed_dt <= date'"+monthend+"' and order_placed_dt >=date'"+six_months_ago+"' \
#and op_cmpny_cd = 'WMT.COM' and gmv_cr_ind = 1 and gmv_ind = 1 and svc_nm = 'MP'"


#tdDf_Orders_CatalogTotals_6monthsGCP  =  dataset.load(name="gcp_dd_connection", query = query) 

#print(tdDf_Orders_CatalogTotals_6monthsGCP)

#### 12 months Catalog Totals #####


#query ="select COUNT(DISTINCT sales_order_num) as Order_Number, \
#sum(gmv_order_amt) as Total_Revenue, sum(units) as Total_Quantity, \
#sum(gmv_plcd_amt) as Placed_Amount, sum(plcd_units) as Placed_Quantity, \
#sum(gmv_cncl_amt) as Total_cancel_Amount, sum(cncl_units) as Cancelled_Quantity, \
#sum(gmv_rfnd_amt) as Refunded_Amount, sum(rtn_units) as Return_Quantity \
#from ww_crew_dl_rpt_vm.cnsld_order_item_orig \
#where order_placed_dt <= date'"+monthend+"' and order_placed_dt >=date'"+twelve_months_ago+"' \
#and op_cmpny_cd = 'WMT.COM' and gmv_cr_ind = 1 and gmv_ind = 1 and svc_nm = 'MP'"

#tdDf_Orders_CatalogTotals_12monthsGCP  = dataset.load(name="gcp_dd_connection", query = query) 
#  

#print(tdDf_Orders_CatalogTotals_12monthsGCP)

In [58]:
#### 90 Days ( 3months) Catalog Totals #####
                                     
query ="select COUNT(DISTINCT order_child_nbr) as Order_Number, \
sum(gmv_order_amt) as Total_Revenue, sum(net_cncl_qty) as Total_Quantity, \
sum(gmv_plcd_amt) as Placed_Amount, sum(plcd_qty) as Placed_Quantity, \
sum(gmv_cncl_amt) as Total_cancel_Amount, sum(cncl_qty) as Cancelled_Quantity, \
sum(gmv_rfnd_amt) as Refunded_Amount, sum(rtn_rfnd_full_qty) as Return_Quantity \
from wmt-edw-prod.WW_CREW_DL_RPT_VM.CNSLD_ORDER_ITEM \
where order_plcd_dt <= date'"+monthend+"' and order_plcd_dt >=date'"+d90_ago+"' \
and op_cmpny_cd = 'WMT.COM' and gmv_cr_ind = 1 and gmv_ind = 1 and svc_nm = 'MP'"

tdDf_Orders_CatalogTotals_90daysGCP = dataset.load(name="bq_connection", query = query)
#print(df.head(5))
  

print(tdDf_Orders_CatalogTotals_90daysGCP)

#### 6 months Catalog Totals #####

                                     
query ="select COUNT(DISTINCT order_child_nbr) as Order_Number, \
sum(gmv_order_amt) as Total_Revenue, sum(net_cncl_qty) as Total_Quantity, \
sum(gmv_plcd_amt) as Placed_Amount, sum(plcd_qty) as Placed_Quantity, \
sum(gmv_cncl_amt) as Total_cancel_Amount, sum(cncl_qty) as Cancelled_Quantity, \
sum(gmv_rfnd_amt) as Refunded_Amount, sum(rtn_rfnd_full_qty) as Return_Quantity \
from wmt-edw-prod.WW_CREW_DL_RPT_VM.CNSLD_ORDER_ITEM \
where order_plcd_dt <= date'"+monthend+"' and order_plcd_dt >=date'"+six_months_ago+"' \
and op_cmpny_cd = 'WMT.COM' and gmv_cr_ind = 1 and gmv_ind = 1 and svc_nm = 'MP'"


tdDf_Orders_CatalogTotals_6monthsGCP  =  dataset.load(name="bq_connection", query = query) 

print(tdDf_Orders_CatalogTotals_6monthsGCP)

#### 12 months Catalog Totals #####


query ="select COUNT(DISTINCT order_child_nbr) as Order_Number, \
sum(gmv_order_amt) as Total_Revenue, sum(net_cncl_qty) as Total_Quantity, \
sum(gmv_plcd_amt) as Placed_Amount, sum(plcd_qty) as Placed_Quantity, \
sum(gmv_cncl_amt) as Total_cancel_Amount, sum(cncl_qty) as Cancelled_Quantity, \
sum(gmv_rfnd_amt) as Refunded_Amount, sum(rtn_rfnd_full_qty) as Return_Quantity \
from wmt-edw-prod.WW_CREW_DL_RPT_VM.CNSLD_ORDER_ITEM \
where order_plcd_dt <= date'"+monthend+"' and order_plcd_dt >=date'"+twelve_months_ago+"' \
and op_cmpny_cd = 'WMT.COM' and gmv_cr_ind = 1 and gmv_ind = 1 and svc_nm = 'MP'"

tdDf_Orders_CatalogTotals_12monthsGCP  = dataset.load(name="bq_connection", query = query) 
  

print(tdDf_Orders_CatalogTotals_12monthsGCP)

   Order_Number         Total_Revenue  Total_Quantity         Placed_Amount  \
0      42982252  2216547643.368807326        66894848  2519800846.292499944

   Placed_Quantity  Total_cancel_Amount  Cancelled_Quantity  \
0         69439187  123919683.128926015             2544339

       Refunded_Amount  Return_Quantity
0  179333519.794766603          4213757
   Order_Number         Total_Revenue  Total_Quantity         Placed_Amount  \
0      86643300  4632663114.064564227       137418558  5303280542.201032946

   Placed_Quantity  Total_cancel_Amount  Cancelled_Quantity  \
0        142824885  262744576.641373543             5406327

       Refunded_Amount  Return_Quantity
0  407872851.495095176          9428519
   Order_Number         Total_Revenue  Total_Quantity         Placed_Amount  \
0     149861786  7819559673.849163189       234881801  9037444215.724736603

   Placed_Quantity  Total_cancel_Amount  Cancelled_Quantity  \
0        244912198  481695482.837832585            10030397

       Refunded_Amount  Return_Quantity
0  736189059.037740829         17301087

In [59]:
tdDf_Orders_CatalogTotals_12monthsGCP

,Order_Number,Total_Revenue,Total_Quantity,Placed_Amount,Placed_Quantity,Total_cancel_Amount,Cancelled_Quantity,Refunded_Amount,Return_Quantity
0,149861786,7819559673.849163189,234881801,9037444215.724736603,244912198,481695482.837832585,10030397,736189059.037740829,17301087

In [60]:
#### Total items in Catalog


                                     
#query ="SELECT count(distinct catlg_item_id)\
   #    FROM ww_product_dl_tables.offr_dly \
   #    WHERE cal_dt = (select max(cal_dt) from ww_product_dl_tables.offr_dly)\
  #     AND offr_pub_status_nm = 'PUBLISHED' AND op_cmpny_cd = 'WMT.COM' "

#Total_Items_CatalgGCP  = dataset.load(name="gcp_dd_connection", query = query) 


#print(Total_Items_CatalgGCP)
#134747779

In [61]:
 #query ="SELECT count(distinct catlg_item_id)\
  #       FROM wmt-edw-prod.WW_CREW_DL_RPT_VM.CNSLD_OFFR \
   #      WHERE cal_dt = (select max(cal_dt) from wmt-edw-prod.WW_CREW_DL_RPT_VM.CNSLD_OFFR)\
    #     AND offr_pub_status_nm = 'PUBLISHED' AND op_cmpny_cd = 'WMT.COM'"

# Total_Items_CatalgGCP  = dataset.load(name="bq_connection", query = query) 
#print(Total_Items_CatalgGCP)

In [62]:
### Total Market Place items in Catalog

                                     
#query ="SELECT count(distinct catlg_item_id)\
#       FROM ww_product_dl_tables.offr_dly \
#       WHERE cal_dt = (select max(cal_dt) from ww_product_dl_tables.offr_dly) \
#       AND slr_org_cd <> '0' AND op_cmpny_cd = 'WMT.COM' AND offr_pub_status_nm = 'PUBLISHED'"

#Total_MP_Items_CatalgGCP  = dataset.load(name="gcp_dd_connection", query = query) 
   


#130435177

In [63]:
# query ="SELECT count(distinct catlg_item_id)\
 #        FROM wmt-edw-prod.WW_CREW_DL_RPT_VM.CNSLD_OFFR \
 #        WHERE cal_dt = (select max(cal_dt) from wmt-edw-prod.WW_CREW_DL_RPT_VM.CNSLD_OFFR) \
  #       AND slr_org_cd <> '0' AND op_cmpny_cd = 'WMT.COM' AND offr_pub_status_nm = 'PUBLISHED'"

# Total_MP_Items_CatalgGCP  = dataset.load(name="bq_connection", query = query) 
# print(Total_MP_Items_CatalgGCP)

In [64]:
writer = pd.ExcelWriter('Anticounterfeits for ECRC-'+ str(monthDict[today.month]) +'.xlsx', engine='xlsxwriter')

# Write each dataframe to a different worksheet.
final_df = pd.concat([tdDf_Orders_CatalogTotals_30daysGCP,tdDf_Orders_CatalogTotals_90daysGCP,\
                      tdDf_Orders_CatalogTotals_6monthsGCP,tdDf_Orders_CatalogTotals_12monthsGCP])
final_df[['Order_Number','Total_Revenue']].reset_index().to_excel(writer, sheet_name='Monthly Data',startrow=0 , startcol=0)
final_df = final_df.reset_index(drop = True)[['Order_Number','Total_Revenue']]

final_df['index_'] = ['30 days', '90 days', '6 months', '12 months']
final_df['CF Orders'] = [CF_rev_30days['Total_Quantity'].sum(), CF_rev_90days['Total_Quantity'].sum(), \
         CF_rev_6months['Total_Quantity'].sum(), CF_rev_12months['Total_Quantity'].sum()]
final_df['CF GMV'] = [CF_rev_30days['Sum(TOT_GMV)'].sum(), CF_rev_90days['Sum(TOT_GMV)'].sum(), \
         CF_rev_6months['Sum(TOT_GMV)'].sum(), CF_rev_12months['Sum(TOT_GMV)'].sum()]
final_df['Cancellations'] = [CF_rev_30days['Total_cancel_Amount'].astype(float).sum(), \
         CF_rev_90days['Total_cancel_Amount'].astype(float).sum(), \
         CF_rev_6months['Total_cancel_Amount'].astype(float).sum(), \
CF_rev_12months['Total_cancel_Amount'].astype(float).sum()]
final_df['Refunds'] = [CF_rev_30days['Refunded_Amount'].astype(float).sum(), \
         CF_rev_90days['Refunded_Amount'].astype(float).sum(), \
         CF_rev_6months['Refunded_Amount'].astype(float).sum(), \
    CF_rev_12months['Refunded_Amount'].astype(float).sum()]

In [65]:
final_df

,Order_Number,Total_Revenue,index_,CF Orders,CF GMV,Cancellations,Refunds
0,12468351,626491347.941212058,30 days,1058,33650.91,1247.51,2686.66
1,42982252,2216547643.368807326,90 days,1924,69003.67,3278.88,7295.35
2,86643300,4632663114.064564227,6 months,2326,78638.52,3474.44,7648.09
3,149861786,7819559673.849163189,12 months,2361,79124.22,3485.93,7691.09

In [66]:
#final_df[['Order_Number','Total_Revenue']].reset_index()

In [67]:
#Final_CF_v2[Final_CF_v2['Actual Claim Type']=='Confirmed Counterfeit ']

In [68]:
CF_rev_30days['Total_Quantity'].sum()

1058

In [69]:
tdDf_Orders_CatalogTotals_30daysGCP

,Order_Number,Total_Revenue,Total_Quantity,Placed_Amount,Placed_Quantity,Total_cancel_Amount,Cancelled_Quantity,Refunded_Amount,Return_Quantity
0,12468351,626491347.941212058,19341130,711315592.902499957,20076897,36265129.106187929,735767,48559115.85509997,1198680

In [70]:
final = final_df[['index_', 'CF Orders', 'CF GMV', 'Cancellations', 'Refunds', 'Order_Number','Total_Revenue']]

final = final.reset_index(drop = True)

final['CF Orders'] = final['CF Orders'].map("{:,}".format)
final['CF GMV'] = final['CF GMV'].map('${:,.2f}'.format)
final['Cancellations'] = final['Cancellations'].map('${:,.2f}'.format)
final['Refunds'] = final['Refunds'].map('${:,.2f}'.format)
final['Order_Number'] = final['Order_Number'].map('{:,.0f}'.format)
final['Total_Revenue'] = final['Total_Revenue'].astype(float).map('${:,.2f}'.format)

#final
final.to_excel(writer, sheet_name='Monthly Data',startrow=8 , startcol=0)



#####
basis = [ ('SKU count', cf_T.groupby('Action')['Item ID'].nunique()['Block'], tdDf_Orders_CatalogTotals_30daysGCP['Total_Quantity'].sum()) ,
             ('Orders', CF_rev_30days['Total_Quantity'].sum(), tdDf_Orders_CatalogTotals_30daysGCP['Order_Number'].sum()) ,
             ('Revenue', CF_rev_30days['Sum(TOT_GMV)'].sum() ,tdDf_Orders_CatalogTotals_30daysGCP['Total_Revenue'].sum())]
basis 
#Create a DataFrame object


monthly = pd.DataFrame(basis, columns = [monthlongDict[today.month] , 'Counterfeits', 'Catalog Totals']) 
monthly['Basis Points'] = ((monthly['Counterfeits'].astype(int)/ monthly['Catalog Totals'].astype(float)) *10000).map('{:,.2f}'.format)

monthly.iloc[0,1] = "{:,.0f}".format(monthly.iloc[0,1])
monthly.iloc[0,2] = "{:,.0f}".format(monthly.iloc[0,2])
monthly.iloc[1,1] = "{:,.0f}".format(monthly.iloc[1,1])
monthly.iloc[1,2] = "{:,.0f}".format(monthly.iloc[1,2])

monthly.iloc[2,1] = "${:,.0f}".format(monthly.iloc[2,1])
monthly.iloc[2,2] = "${:,.0f}".format(float(monthly.iloc[2,2]))
baseItem = [("Based Item ID Count",Final_CF['base_item_id'].nunique())]
pd.DataFrame(baseItem).to_excel(writer, sheet_name='Monthly Data',startrow=18 , startcol=0)
monthly.to_excel(writer, sheet_name='Monthly Data',startrow=15 , startcol=0)

#monthly = pd.DataFrame([series1, series2, series3])

# updatedAC = [(monthly['Basis Points'][1]),
#              (list(cf.groupby(['Month','Actual Claim Type'])['item_id'].nunique())[1]),
#              (list(cf.groupby(['Month','Actual Claim Type'])['item_id'].nunique())[0]),
#              (monthly['Basis Points'][2]),
#              (list(cf.groupby(['Month','Actual Claim Type'])['item_id'].nunique())[1])+(list(cf.groupby(['Month','Actual Claim Type'])['item_id'].nunique())[0])]

# a = pd.DataFrame(updatedAC)

# a.to_excel(writer, sheet_name='Monthly Data',startrow=20 , startcol=0)


writer.save()

In [71]:
1204/8513864

0.0001414164003559371

In [72]:
basis

[('SKU count', 62, 19341130),
 ('Orders', 1058, 12468351),
 ('Revenue', 33650.91, Decimal('626491347.941212058'))]

In [73]:
monthly['Counterfeits']

0         62
1      1,058
2    $33,651
Name: Counterfeits, dtype: object

In [74]:
monthly['Catalog Totals']

0      19,341,130
1      12,468,351
2    $626,491,348
Name: Catalog Totals, dtype: object

In [75]:
final

,index_,CF Orders,CF GMV,Cancellations,Refunds,Order_Number,Total_Revenue
0,30 days,"1,058","$33,650.91","$1,247.51","$2,686.66","12,468,351","$626,491,347.94"
1,90 days,"1,924","$69,003.67","$3,278.88","$7,295.35","42,982,252","$2,216,547,643.37"
2,6 months,"2,326","$78,638.52","$3,474.44","$7,648.09","86,643,300","$4,632,663,114.06"
3,12 months,"2,361","$79,124.22","$3,485.93","$7,691.09","149,861,786","$7,819,559,673.85"

In [76]:
monthly

       March Counterfeits Catalog Totals Basis Points
0  SKU count           62     19,341,130         0.03
1     Orders        1,058     12,468,351         0.85
2    Revenue      $33,651   $626,491,348         0.54

In [77]:
baseItem

[('Based Item ID Count', 56)]

In [78]:
Received_file['Item ID'].nunique()

62

In [79]:
Final_CF['base_item_id'].nunique()

56

In [80]:
Final_CF['item_id'].nunique()

62

In [81]:
Final_CF['org_id'].nunique()

48

In [82]:
Final_CF.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 67 entries, 0 to 66
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   sourcing_channel  67 non-null     object
 1   slr_org_nm        67 non-null     object
 2   item_id           67 non-null     float64
 3   blocked_date      67 non-null     object
 4   walmart_disp_nm   67 non-null     object
 5   org_id            67 non-null     object
 6   legacy_org_id     67 non-null     int64
 7   base_item_id      67 non-null     int64
 8   brand_nm          66 non-null     object
 9   rpt_lvl_0_nm      66 non-null     object
 10  rpt_lvl_1_nm      66 non-null     object
 11  rpt_lvl_2_nm      66 non-null     object
 12  categ_nm          66 non-null     object
 13  rpt_lvl_4_nm      66 non-null     object
dtypes: float64(1), int64(2), object(11)
memory usage: 7.9+ KB

In [83]:
cf_T_1=pd.read_excel('DECSP.xlsx')
cf_T_1 = cf_T_1[cf_T_1['Claim State'] == 'Closed']

In [84]:
cf_T_1.groupby(['Action'])['Item ID'].nunique()

Action
Allow    88
Block    61
Name: Item ID, dtype: int64

In [85]:
cf_T_1['Brand'].nunique()

38

In [86]:
cf_T_1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 954 entries, 0 to 1181
Data columns (total 26 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Claim ID              954 non-null    object
 1   Reported Claim Type   954 non-null    object
 2   Actual Claim Type     954 non-null    object
 3   Brand                 819 non-null    object
 4   IP Company Name       819 non-null    object
 5   Email Address         954 non-null    object
 6   All Reported Sellers  954 non-null    object
 7   Item ID               954 non-null    int64
 8   Claim State           954 non-null    object
 9   Action                954 non-null    object
 10  Created               954 non-null    datetime64[ns]
 11  Updated               954 non-null    datetime64[ns]
 12  Reported Details      954 non-null    object
 13  Primary email         936 non-null    object
 14  Secondary email       0 non-null      float64
 15  Seller Name           914 non-null    object
 16  Business name         944 non-null    object
 17  Legacy Seller ID      948 non-null    float64
 18  URL                   931 non-null    object
 19  Exception Status      0 non-null      float64
 20  Reason Code           954 non-null    object
 21  Category              944 non-null    object
 22  Offer Publish Status  944 non-null    object
 23  Title                 924 non-null    object
 24  Decision Type         954 non-null    object
 25  ID                    944 non-null    object
dtypes: datetime64[ns](2), float64(3), int64(1), object(20)
memory usage: 201.2+ KB

In [87]:
Final_CF['base_item_id'].nunique()

56

In [88]:
#total unique item
cf_T['Item ID'].nunique()

62

In [89]:
cf_T['Brand'].nunique()

17

In [90]:
cf_T['Action'].value_counts()

Block    67
Name: Action, dtype: int64

In [91]:
cf_T['Claim ID'].nunique()

47

In [92]:
cf_T.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 67 entries, 1 to 2219
Data columns (total 27 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Claim ID              67 non-null     object
 1   Reported Claim Type   67 non-null     object
 2   Actual Claim Type     67 non-null     object
 3   Brand                 32 non-null     object
 4   IP Company Name       67 non-null     object
 5   Email Address         67 non-null     object
 6   All Reported Sellers  67 non-null     object
 7   Item ID               67 non-null     int64
 8   Claim State           67 non-null     object
 9   Action                67 non-null     object
 10  Created               67 non-null     datetime64[ns]
 11  Updated               67 non-null     datetime64[ns]
 12  Reported Details      67 non-null     object
 13  Primary email         58 non-null     object
 14  Secondary email       0 non-null      float64
 15  Seller Name           58 non-null     object
 16  Business name         58 non-null     object
 17  Legacy Seller ID      67 non-null     float64
 18  URL                   67 non-null     object
 19  Exception Status      0 non-null      float64
 20  Reason Code           67 non-null     object
 21  Category              58 non-null     object
 22  Offer Publish Status  58 non-null     object
 23  Title                 58 non-null     object
 24  Decision Type         67 non-null     object
 25  ID                    58 non-null     object
 26  Month                 67 non-null     int64
dtypes: datetime64[ns](2), float64(3), int64(2), object(20)
memory usage: 14.7+ KB

In [93]:
cf_T['Seller Name'].nunique()

47

In [94]:
CF_rev_30days['SLR_ORG_NM'].nunique()

29

In [95]:
CF_rev_30days['Item ID'].nunique()

30

In [96]:
Final_CF[Final_CF["slr_org_nm"]=="JD E Commerce America Limited" ]

,sourcing_channel,slr_org_nm,item_id,blocked_date,walmart_disp_nm,org_id,legacy_org_id,base_item_id,brand_nm,rpt_lvl_0_nm,rpt_lvl_1_nm,rpt_lvl_2_nm,categ_nm,rpt_lvl_4_nm
18,External Web Form,JD E Commerce America Limited,705468725.0,2024-03-11,Joybuy Marketplace(Express),16214,16214,705468725,NOVA Medical,CONSUMABLES,40 PHARMACY OTC,HEALTH CARE,INDEPENDENT LIVING,MOBILITY AIDS AND EQUIPMENT

In [97]:
Final_CF[Final_CF["slr_org_nm"]=="Jingdong E-Commerce (Trade) Hong Kong Corporation" ]

Empty DataFrame
Columns: [sourcing_channel, slr_org_nm, item_id, blocked_date, walmart_disp_nm, org_id, legacy_org_id, base_item_id, brand_nm, rpt_lvl_0_nm, rpt_lvl_1_nm, rpt_lvl_2_nm, categ_nm, rpt_lvl_4_nm]
Index: []

In [98]:
pd.set_option('display.max_rows', 1000)
Final_CF.groupby(['slr_org_nm', 'categ_nm'])['item_id'].nunique().reset_index()
#Final_CF.groupby(['slr_org_nm'])['item_id'].nunique().reset_index()

,slr_org_nm,categ_nm,item_id
0,123topfive,PRESTIGE FACIAL CARE,1
1,1313 JEFFREY REALTY LLC,BOTTOMS UNDERWEAR MENS,3
2,1313 JEFFREY REALTY LLC,MISC APPAREL L3 WOMENS,1
3,1313 JEFFREY REALTY LLC,SPORTS BRAS WOMENS,5
4,A&S League,CASES,1
5,Active beauty solutions LLC,INDEPENDENT LIVING,1
6,Allnature International Inc.,VITAMINS AND SUPPLEMENTS,1
7,Avenue A Stores LLC,FINE GEMSTONE JEWELRY WOMENS,1
8,Bookmark Overseas,ADULT BOOKS,1
9,Collebra Essentials LLC,FIRST AID,1
10,Condition One LLC,ACTIVE PLAY,1
11,Crofton Traders LLC,FACECARE,1
12,E&M Enterprise One,OUTDOOR DRINKWARE,1
13,"ENTITY PROPERTIES, LLC",OUTDOOR DECOR,1
14,Eternal Health N Beauty,COSMETICS ACCESSORIES,1
15,Front Source Technologies,EXPLORATORY,1
16,Glutti Ecom LLC,LEARNING,1
17,Gogi Buy Inc,FRAGRANCES,1
18,Great Gear Central LLC,VITAMINS AND SUPPLEMENTS,1
19,Guangzhou guangheriyongpinyouxiangongsi,CHRISTMAS INDOOR DECOR,1
20,Homryte LLC,PRESTIGE FACIAL CARE,1
21,JD E Commerce America Limited,INDEPENDENT LIVING,1
22,JS Crown LLC,DINNERWARE,1
23,Jingdong E-Commerce (Trade) Hong Kong Corporat...,OTHER COLLECTIONS MENS,1
24,Joseph Ciorra,TRIAL AND TRAVEL,1
25,Kainalo LLC,NAILCARE,1
26,Khushbu Banka,ADULT BOOKS,2
27,LA ONE STOP WAREHOUSE Inc.,LAMPS,1
28,NCR Business Solutions,PET GROOMING,1
29,NITIKA AGGARWAL,ADULT BOOKS,2
30,PAC Services Inc,OUTDOOR DRINKWARE,2
31,PAPER N SUCH LLC,WATER FILTRATION AND DISPENSERS,1
32,Savitr Global Solutions LLC,DOG AND CAT COLLARS LEASHES AND HARNESSES2,1
33,Shenzhenshi yiweihedianzishangwuyouxiangongsi,HOUSEHOLD PEST CONTROL,1
34,Shop2Ship,ACTIVE PLAY,1
35,Style Like Mine Inc.,THERMAL UNDERWEAR MENS,7
36,Texas Prestige,FASHION JEWELRY WOMENS,1
37,Vincero Trading LLC,KNIVES,1
38,deng zhou shi an bao shang mao you xian gong si,ARTIFICIAL PLANTS AND FLORAL L4,1
39,deng zhou shi an bao shang mao you xian gong si,FOOD PRESERVATION,1
40,guangzhoumichishangmaoyouxiangongsi,POOLS,1
41,hefeibingfandongfuzhuangyouxiangongsi,POSTERS,2
42,henantuerqiwangluokejiyouxiangongsi,WIGS AND HAIR EXTENSIONS,1
43,jinanhaoxuexinxikejiyouxiangongsi,CITRO AND REPELLENTS,1
44,minicc llc,OUTDOOR DRINKWARE,1
45,pennsl llc,WATER FILTRATION AND DISPENSERS,1
46,shanghaiweixixinxijishuyouxiangongsi,ELECTRONICS MISC L3,1
47,shenzhenshizuoheshipinyouxiangongsi,ELECTRONICS MISC L3,1
48,wisermerchant llc,ANALGESICS,1
49,wuxueshishalindianzishangwuyouxiangongsi,FACECARE,1

In [99]:
Final_CF.groupby(['brand_nm', 'categ_nm'])['item_id'].nunique()

brand_nm                                categ_nm
Adakot                                  WIGS AND HAIR EXTENSIONS                      1
Amy and Annette                         FASHION JEWELRY WOMENS                        1
BINFA-Wall Art                          POSTERS                                       2
Bratz                                   SPORTS BRAS WOMENS                            1
COWIN                                   OUTDOOR DECOR                                 1
Care Bears                              SPORTS BRAS WOMENS                            1
ComfiTime                               FOOD PRESERVATION                             1
                                        PET GROOMING                                  1
Denise Polit; Cheryl Beck; Cheryl Beck  ADULT BOOKS                                   1
Dr Marc S Sabatine                      ADULT BOOKS                                   1
FROG                                    POOLS                                         1
Fablinks                                FINE GEMSTONE JEWELRY WOMENS                  1
Generalia                               EXPLORATORY                                   1
Gerber Gear                             KNIVES                                        1
Gomind                                  CHRISTMAS INDOOR DECOR                        1
Hooters                                 SPORTS BRAS WOMENS                            1
InSinkErator                            WATER FILTRATION AND DISPENSERS               2
JakMean                                 LEARNING                                      1
JustEarbuds                             ELECTRONICS MISC L3                           1
KALMORE                                 CASES                                         1
Kelo-cote                               FIRST AID                                     1
La Mer                                  PRESTIGE FACIAL CARE                          1
Laneige                                 PRESTIGE FACIAL CARE                          1
MIAUO                                   FACECARE                                      1
Mocoosy                                 ARTIFICIAL PLANTS AND FLORAL L4               1
NOVA Medical                            INDEPENDENT LIVING                            1
Naruto                                  BOTTOMS UNDERWEAR MENS                        1
NewGreenNutrition                       VITAMINS AND SUPPLEMENTS                      1
Novelty Place                           DINNERWARE                                    1
OIEXI                                   HOUSEHOLD PEST CONTROL                        1
OPI                                     NAILCARE                                      1
PetSafe                                 DOG AND CAT COLLARS LEASHES AND HARNESSES2    1
Playboy                                 BOTTOMS UNDERWEAR MENS                        2
                                        SPORTS BRAS WOMENS                            2
Pokemon                                 ACTIVE PLAY                                   2
PreserVision                            VITAMINS AND SUPPLEMENTS                      1
Pure Daily Care                         FACECARE                                      1
Real Techniques                         COSMETICS ACCESSORIES                         1
Richard D Urman; Jesse M Ehrenfeld      ADULT BOOKS                                   1
STANLEY                                 OUTDOOR DRINKWARE                             2
Sol De Janeiro                          FRAGRANCES                                    1
TRGPSG                                  OTHER COLLECTIONS MENS                        1
The Powerpuff Girls                     MISC APPAREL L3 WOMENS                        1
ThermaCELL                              CITRO AND REPELLENTS                          1
Time Cap Labs                           ANALGESICS                                    1
ToBeInStyle                             THERMAL UNDERWEAR MENS                        7
Vaunn                                   INDEPENDENT LIVING                            1
VicTsing                                LAMPS                                         1
rapid reduction                         TRIAL AND TRAVEL                              1
Name: item_id, dtype: int64

In [100]:
Final_CF[Final_CF["brand_nm"]=="ZIYIXIN"]

Empty DataFrame
Columns: [sourcing_channel, slr_org_nm, item_id, blocked_date, walmart_disp_nm, org_id, legacy_org_id, base_item_id, brand_nm, rpt_lvl_0_nm, rpt_lvl_1_nm, rpt_lvl_2_nm, categ_nm, rpt_lvl_4_nm]
Index: []

In [101]:
Final_CF.columns

Index(['sourcing_channel', 'slr_org_nm', 'item_id', 'blocked_date',
       'walmart_disp_nm', 'org_id', 'legacy_org_id', 'base_item_id',
       'brand_nm', 'rpt_lvl_0_nm', 'rpt_lvl_1_nm', 'rpt_lvl_2_nm', 'categ_nm',
       'rpt_lvl_4_nm'],
      dtype='object')

In [102]:
CF_rev_30days['cust_id'].nunique()

895

In [103]:
#CF_rev_90days['Sum(TOT_GMV)'].sum()

In [104]:
Final_CF[Final_CF['slr_org_nm']== 'VIK TECH']

Empty DataFrame
Columns: [sourcing_channel, slr_org_nm, item_id, blocked_date, walmart_disp_nm, org_id, legacy_org_id, base_item_id, brand_nm, rpt_lvl_0_nm, rpt_lvl_1_nm, rpt_lvl_2_nm, categ_nm, rpt_lvl_4_nm]
Index: []

In [105]:
CF_rev_30days.groupby('SLR_ORG_NM')['Sum(TOT_GMV)', 'Order_Number'].sum().nlargest(10, 'Sum(TOT_GMV)').reset_index()

/home/jupyter/libraries/nb_env/lib64/python3.6/site-packages/ipykernel/__main__.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  if __name__ == '__main__':

                     SLR_ORG_NM  Sum(TOT_GMV)  Order_Number
0            Great Gear Central      16142.09           375
1                 Savitr Global       3655.72            17
2                   Shen BaoZhu       3265.29            67
3   Jay's Skincare and Wellness       2787.79           127
4  Allnature International Inc.       1977.44            45
5                123topfive LLC       1087.36            61
6                  JIYA EXPORTS        790.41            35
7                 Homryte Goods        779.50            18
8                 Wardrobe Inc.        442.68            54
9               Crofton Traders        399.92            11

In [106]:
CF_rev_30days.groupby('SLR_ORG_NM')['Sum(TOT_GMV)', 'Order_Number'].sum().nlargest(10, 'Order_Number').reset_index()

/home/jupyter/libraries/nb_env/lib64/python3.6/site-packages/ipykernel/__main__.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  if __name__ == '__main__':

                     SLR_ORG_NM  Sum(TOT_GMV)  Order_Number
0            Great Gear Central      16142.09           375
1   Jay's Skincare and Wellness       2787.79           127
2                   Shen BaoZhu       3265.29            67
3                123topfive LLC       1087.36            61
4                 Wardrobe Inc.        442.68            54
5  Allnature International Inc.       1977.44            45
6                  JIYA EXPORTS        790.41            35
7                    lovebuy365        307.72            24
8                 Homryte Goods        779.50            18
9     Front Source Technologies        259.85            17

In [107]:
CF_rev_30days.columns

Index(['offer_id', 'ORDER_PLACED_DT', 'cust_id', 'Order_Number',
       'Sum(TOT_GMV)', 'Total_Quantity', 'Placed_Amount', 'Placed_Quantity',
       'Total_cancel_Amount', 'Cancelled_Quantity', 'Refunded_Amount',
       'Return_Quantity', 'Legacy Seller ID', 'ID', 'SLR_ORG_NM', 'Item ID'],
      dtype='object')

In [108]:
CF_rev_30days[CF_rev_30days['SLR_ORG_NM'] == 'Walmart.com']

Empty DataFrame
Columns: [offer_id, ORDER_PLACED_DT, cust_id, Order_Number, Sum(TOT_GMV), Total_Quantity, Placed_Amount, Placed_Quantity, Total_cancel_Amount, Cancelled_Quantity, Refunded_Amount, Return_Quantity, Legacy Seller ID, ID, SLR_ORG_NM, Item ID]
Index: []

In [109]:
CF_rev_90days.groupby('SLR_ORG_NM')['Sum(TOT_GMV)', 'Order_Number'].sum().nlargest(10, 'Sum(TOT_GMV)').reset_index()

/home/jupyter/libraries/nb_env/lib64/python3.6/site-packages/ipykernel/__main__.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  if __name__ == '__main__':

                     SLR_ORG_NM  Sum(TOT_GMV)  Order_Number
0            Great Gear Central      37199.64           825
1                 Savitr Global       6515.61            32
2                 Homryte Goods       5206.31            98
3                   Shen BaoZhu       3403.26            69
4                  JIYA EXPORTS       3313.15            51
5   Jay's Skincare and Wellness       2787.79           127
6             Bookmark Overseas       2460.84            18
7  Allnature International Inc.       1977.44            45
8                    SHOPPINGSS       1332.40            13
9                123topfive LLC       1122.65            64

In [110]:
CF_rev_90days.groupby('SLR_ORG_NM')['Sum(TOT_GMV)', 'Order_Number'].sum().nlargest(10, 'Order_Number').reset_index()

/home/jupyter/libraries/nb_env/lib64/python3.6/site-packages/ipykernel/__main__.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  if __name__ == '__main__':

                     SLR_ORG_NM  Sum(TOT_GMV)  Order_Number
0            Great Gear Central      37199.64           825
1   Jay's Skincare and Wellness       2787.79           127
2                 Homryte Goods       5206.31            98
3                   Shen BaoZhu       3403.26            69
4                123topfive LLC       1122.65            64
5                 Wardrobe Inc.        494.76            61
6                  JIYA EXPORTS       3313.15            51
7  Allnature International Inc.       1977.44            45
8   Joybuy Marketplace(Express)        287.27            34
9                 Savitr Global       6515.61            32

In [111]:
Brand_Names[Brand_Names['brand_nm'] == 'Mike Tronics LLC']

Empty DataFrame
Columns: [item_id, brand_nm, rpt_lvl_0_nm, rpt_lvl_1_nm, rpt_lvl_2_nm, rpt_lvl_3_nm, rpt_lvl_4_nm]
Index: []

CF_rev_6months.groupby('SLR_ORG_NM')['Sum(TOT_GMV)', 'Order_Number'].sum().nlargest(10, 'Sum(TOT_GMV)').reset_index()

In [112]:
CF_rev_6months.groupby('SLR_ORG_NM')['Sum(TOT_GMV)', 'Order_Number'].sum().nlargest(10, 'Order_Number').reset_index()

/home/jupyter/libraries/nb_env/lib64/python3.6/site-packages/ipykernel/__main__.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  if __name__ == '__main__':

                    SLR_ORG_NM  Sum(TOT_GMV)  Order_Number
0           Great Gear Central      37199.64           825
1  Jay's Skincare and Wellness       2787.79           127
2               123topfive LLC       2138.83           120
3                Homryte Goods       5206.31            98
4            Bookmark Overseas       9799.26            72
5                 Buggys Deals        878.50            69
6                  Shen BaoZhu       3403.26            69
7                Wardrobe Inc.        494.76            61
8                 JIYA EXPORTS       3313.15            51
9  Joybuy Marketplace(Express)        475.69            49

In [113]:
CF_rev_6months.groupby('SLR_ORG_NM')['Sum(TOT_GMV)', 'Order_Number'].sum().nlargest(10, 'Sum(TOT_GMV)').reset_index()

/home/jupyter/libraries/nb_env/lib64/python3.6/site-packages/ipykernel/__main__.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  if __name__ == '__main__':

                     SLR_ORG_NM  Sum(TOT_GMV)  Order_Number
0            Great Gear Central      37199.64           825
1             Bookmark Overseas       9799.26            72
2                 Savitr Global       6515.61            32
3                 Homryte Goods       5206.31            98
4                   Shen BaoZhu       3403.26            69
5                  JIYA EXPORTS       3313.15            51
6   Jay's Skincare and Wellness       2787.79           127
7                123topfive LLC       2138.83           120
8  Allnature International Inc.       1977.44            45
9                    SHOPPINGSS       1332.40            13

In [114]:
CF_rev_12months.groupby('SLR_ORG_NM')['Sum(TOT_GMV)', 'Order_Number'].sum().nlargest(10, 'Sum(TOT_GMV)').reset_index()

/home/jupyter/libraries/nb_env/lib64/python3.6/site-packages/ipykernel/__main__.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  if __name__ == '__main__':

                     SLR_ORG_NM  Sum(TOT_GMV)  Order_Number
0            Great Gear Central      37199.64           825
1             Bookmark Overseas       9928.26            75
2                 Savitr Global       6515.61            32
3                 Homryte Goods       5206.31            98
4                   Shen BaoZhu       3403.26            69
5                  JIYA EXPORTS       3313.15            51
6   Jay's Skincare and Wellness       2787.79           127
7                123topfive LLC       2138.83           120
8  Allnature International Inc.       1977.44            45
9                    SHOPPINGSS       1332.40            13

In [115]:
CF_rev_12months.groupby('SLR_ORG_NM')['Sum(TOT_GMV)', 'Order_Number'].sum().nlargest(10, 'Order_Number').reset_index()

/home/jupyter/libraries/nb_env/lib64/python3.6/site-packages/ipykernel/__main__.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  if __name__ == '__main__':

                    SLR_ORG_NM  Sum(TOT_GMV)  Order_Number
0           Great Gear Central      37199.64           825
1  Jay's Skincare and Wellness       2787.79           127
2               123topfive LLC       2138.83           120
3                Homryte Goods       5206.31            98
4                 Buggys Deals       1080.59            88
5            Bookmark Overseas       9928.26            75
6                  Shen BaoZhu       3403.26            69
7                Wardrobe Inc.        494.76            61
8                 JIYA EXPORTS       3313.15            51
9                   lovebuy365        591.44            51

In [116]:
CF_rev_12months['Legacy Seller ID'] = CF_rev_12months['Legacy Seller ID'].astype(str)
#CF_rev_12months['SLR_ORG_NM'].seller
#list(CF_rev_12months['Legacy Seller ID'].unique())
CF_rev_12months['Legacy Seller ID']

/home/jupyter/libraries/nb_env/lib64/python3.6/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

0       101465859.0
1       101581578.0
2           16214.0
3       101554722.0
4       101554722.0
           ...
1791    101248752.0
1792    101554722.0
1793    101009600.0
1794    101554722.0
1795    101349863.0
Name: Legacy Seller ID, Length: 1792, dtype: object

In [117]:
a = list(CF_rev_12months['Legacy Seller ID'].unique())
a

['101465859.0',
 '101581578.0',
 '16214.0',
 '101554722.0',
 '101195854.0',
 '12536.0',
 '101397357.0',
 '101573967.0',
 '101227241.0',
 '101440152.0',
 '101578042.0',
 '101349863.0',
 '101200668.0',
 '101248752.0',
 '101009600.0',
 '101423998.0',
 '101021962.0',
 '101103194.0',
 '101408920.0',
 '101297435.0',
 '101607919.0',
 '8423.0',
 '101218212.0',
 '820.0',
 '101525281.0',
 '101020688.0',
 '101552921.0',
 '101381199.0',
 '713.0',
 '101405457.0',
 '18988.0',
 '101600609.0',
 '101569811.0']

In [118]:
for s in a :
    print(str(s[:-2]))

101465859
101581578
16214
101554722
101195854
12536
101397357
101573967
101227241
101440152
101578042
101349863
101200668
101248752
101009600
101423998
101021962
101103194
101408920
101297435
101607919
8423
101218212
820
101525281
101020688
101552921
101381199
713
101405457
18988
101600609
101569811

### trace brand category

In [119]:
CF_rev.columns

Index(['offer_id', 'ORDER_PLACED_DT', 'cust_id', 'Order_Number',
       'Sum(TOT_GMV)', 'Total_Quantity', 'Placed_Amount', 'Placed_Quantity',
       'Total_cancel_Amount', 'Cancelled_Quantity', 'Refunded_Amount',
       'Return_Quantity', 'Legacy Seller ID', 'ID', 'SLR_ORG_NM', 'Item ID'],
      dtype='object')

In [120]:
CF_rev[CF_rev['SLR_ORG_NM'] == 'AYC']

Empty DataFrame
Columns: [offer_id, ORDER_PLACED_DT, cust_id, Order_Number, Sum(TOT_GMV), Total_Quantity, Placed_Amount, Placed_Quantity, Total_cancel_Amount, Cancelled_Quantity, Refunded_Amount, Return_Quantity, Legacy Seller ID, ID, SLR_ORG_NM, Item ID]
Index: []

In [121]:
test = Received_file[Received_file['Seller Name'] == 'Walmart.com']
test.to_csv('Walmart.csv')
#SELECT rpt_lvl_3_nm, brand_nm FROM ww_product_dl_tables.cnsld_tactical_sku where brand_nm like 'EDealsNY'

In [122]:
Received_file[Received_file['Legacy Seller ID'] ==5705]

Empty DataFrame
Columns: [Claim ID, Reported Claim Type, Actual Claim Type, Brand, IP Company Name, Email Address, All Reported Sellers, Item ID, Claim State, Action, Created, Updated, Reported Details, Primary email, Secondary email, Seller Name, Business name, Legacy Seller ID, URL, Exception Status, Reason Code, Category, Offer Publish Status, Title, Decision Type, ID, Month]
Index: []

[0 rows x 27 columns]

In [123]:
Received_file[Received_file['Legacy Seller ID'] ==5705]

Empty DataFrame
Columns: [Claim ID, Reported Claim Type, Actual Claim Type, Brand, IP Company Name, Email Address, All Reported Sellers, Item ID, Claim State, Action, Created, Updated, Reported Details, Primary email, Secondary email, Seller Name, Business name, Legacy Seller ID, URL, Exception Status, Reason Code, Category, Offer Publish Status, Title, Decision Type, ID, Month]
Index: []

[0 rows x 27 columns]

In [124]:
from mlutils import dataset
from mlutils import connector

query ="select cal_dt from ww_product_dl_tables.offr_dly where cal_dt >= 20230601 limit 10"

Total_MP_Items_CatalgGCP  = dataset.load(name="gcp_dd_connection", query = query)

In [125]:
Total_MP_Items_CatalgGCP

     cal_dt
0  20230605
1  20230605
2  20230605
3  20230605
4  20230605
5  20230605
6  20230605
7  20230605
8  20230605
9  20230605

In [126]:
Received_file[['Legacy Seller ID', 'ID', 'Seller Name', 'Item ID']]

,Legacy Seller ID,ID,Seller Name,Item ID
1,18988.0,D9A6FC36A47A45F798083D69386195D0,Joybuy Marketplace,618918023
2,101200668.0,DC1AF2A38A513F669738FBC80708D956,A&amp;S League,5111332918
14,101578042.0,9F065BD74FD03567ACE090AAD33D9ACC,Shen BaoZhu,5024151525
21,101581578.0,A773A84F79863510A91E547F24768AE1,Crofton Traders,426207121
42,101465859.0,CA247B88CD1B37529A051825F7AC4542,Vincero Trading LLC,5278058983
88,12536.0,CE31DFC1DC9B3B34A90185D45031A9A9,Allnature International Inc.,5263051027
92,820.0,3B87E5780583394D8955117575AD0FBE,Style Like Mine,838582558
100,820.0,E688D3103F4D3E93B5E4D55198907C12,Style Like Mine,190998557
102,820.0,69D92E34F8EF3AAD85FA128C4CA9800C,Style Like Mine,134308565
103,820.0,F914361B2CCC3AE8B84A583B87D5256C,Style Like Mine,977692465
107,820.0,618706D0522B3D02B093366FE1599453,Style Like Mine,905795499
108,820.0,23D8064CDDFD302A9B6A3A85167A334D,Style Like Mine,443712369
111,820.0,EC8A74356D4E3207AC992CAE498DAF4B,Style Like Mine,358328799
141,101554722.0,632537EF58973C04BA686A1F57F99DC5,Great Gear Central,733896893
236,101103194.0,C9644E9468703A1C9266BF66C53632F8,Active Protect+,998003334
237,101525281.0,D40310E9BC94385A85D9044BC56D7765,Sea Ying,5148786739
275,101440152.0,1F4D16F55930382FBE311D505B690B48,Texas Prestige,569469777
278,101381199.0,6702708D684D3EB7B2664CC35DC2AE26,Savitr Global,25259524
287,16214.0,52F1E15FC2FB322381308A79617A0EE5,Joybuy Marketplace(Express),705468725
293,101423998.0,7E8DA7DE157F38838DC14C8A96FB4AD5,Buggys Deals,357810047
297,8423.0,166E6840106F3958822767DB1068CC7F,Front Source Technologies,1062504602
305,101389165.0,E46E52A7A4613A3DA99654598C6FE40E,Appliance &amp; More,37909234
312,101567672.0,25E520BF5DBF3E91BB440B519BD7E361,REFRIGERATOR FILTER STORE,5456466218
338,101009600.0,B989988926DA32B1BB4B2BE5765F09F6,lovebuy365,892871023
408,101020688.0,8F006188F6973261AEBF570C588F1AB9,Oktake,229747348
434,101212453.0,60F7E3AA0CD832E0A6711F0C6B82314B,NCR,993445542
435,101317512.0,326356976D0F3F928C5E9D4F0E4CF314,Glutti Ecom,2134346550
461,101349863.0,F22F857A8CA936BDB1C0346ADFB0D423,123topfive LLC,759798679
516,101600609.0,81AD87CF08C730358B9C3C2D7276BA8A,Shop2Ship Mart,5429222713
520,101607919.0,EA44A38A957139479D07C4BD4AC5C6E2,miyukiki,255408967
607,101408920.0,8E1150ADF2703940815CF367EE4CCB1A,JIYA EXPORTS,390701435
611,101195854.0,7477657752F74EB0933C3753DEFCDC0F,Bookmark Overseas,737014624
617,101405457.0,A108E690B4B237BC9C17A4EBC85D3C87,SHOPPINGSS,349174816
634,101405457.0,20AC238ADCE836779282C6DB090B35B8,SHOPPINGSS,737014624
640,101408920.0,32BC1882A91132349AC21171C4A405E9,JIYA EXPORTS,737014624
732,101382121.0,06734E7D78503196A661DA8D2518E5D6,minicc Corp,1291340325
746,101097005.0,025F4B6953E231ACB0E11AD69B0AC024,PAC Services Inc,1291340325
756,101261281.0,628C8C8667FF3A858CCB8719DED747D7,E&amp;M Enterprise One,5414651411
757,101097005.0,B22BFF6525E231F0B4244623D3962EDC,PAC Services Inc,5414651411
759,101218212.0,DFBED5015A5D3DF383B6D27FB7CB3243,shampoosync corp,5048494175
768,101397357.0,ABFD4AEA3F823E2481CD66BF6BC8D3FB,Homryte Goods,55662709
866,101227241.0,99FEB3DF0BBA4C89AAD77A84E6B152AD,BINFA-Wall Art,3299591079
878,101227241.0,43A63D42D0C445DF93605CCBCEC0C5B1,BINFA-Wall Art,1303497911
915,101248752.0,7C4326D33B9437D7B19B6D8215413AE4,Wardrobe Inc.,832181652
918,101297820.0,329C6B58DDFD37358AEC43CC9413481D,JS Crown LLC,748679274
945,101593887.0,823AFE707362381DAA45FCE4E04EBDA7,Kainalo,125564097
1377,101297435.0,6091F3803B483F73B0AEBC020B53A70B,"TUERKI,LLC",3642256753
1396,101552921.0,39E5A086180B3A73B1D8074F26E40992,GlobalHut,5298147611
1415,713.0,94B9FFE1C95C423AA70A6214DC5DEE8D,Wisermerchant,376744667
1611,101212759.0,CAA5F6AF3F2A37A8B4341B28CFA8A281,ANBAO Co.Ltd,345940829
1614,101212759.0,85509D7BC9B7334C8BA5CFEB6E567C8B,ANBAO Co.Ltd,921671561
1616,101021962.0,74CFC13862003100994247CBA0B55170,SportsnToys.com,5269584040
1630,101373823.0,NaN,NaN,5488067940
1631,101373823.0,NaN,NaN,5501974487
1632,101373823.0,NaN,NaN,5496102683
1633,101373823.0,NaN,NaN,5357298105
1634,101373823.0,NaN,NaN,5464509582
1635,101373823.0,NaN,NaN,5488067927
1636,101373823.0,NaN,NaN,5459902603
1637,101373823.0,NaN,NaN,5488067926
1638,101373823.0,NaN,NaN,5361687624
1685,101573967.0,5CAA01F751CB3BEB9230A7B9C1FD5C47,Jay's Skincare and Wellness,2992285176
1901,101217155.0,3F651DB3D28F3D48A085B5CDA84F7A36,prime bazaar,177681231
1992,101613747.0,1F6ECC7559903FF4B91ECC980C501286,weixi,832181652
1993,101502050.0,30EC19E4720F3773BAA6BEB3265D308B,"Gomind Co., Ltd",1553726877
1999,101569811.0,8799ADD4F8F2304CB6810D9F1F4B71C7,Kathryn's Emporium,505998966
2219,101003242.0,EFBF939604E23602AE0D5F54FE0A2033,Avenue A Stores LLC,853899879